<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../layouts/defaultAdmin.xhtml">
	<ui:define name="title">#{text['home.funding.title']}</ui:define>
	<ui:define name="body">
		<h:form id="funding" autocomplete="off">
			<div class="col-md-4">
				<p:panel id="withdraw" style="min-height: 200px;"
					header="#{text['home.funding.withdraw']}">
					<div class="row">
						<h:outputText value="#{text['home.funding.withdraw.message']}"
							escape="false" />
					</div>
				</p:panel>
			</div>
			<div class="col-md-8">
				<p:panel id="deposit" style="min-height: 200px;"
					header="#{text['home.funding.deposit']}">
					<div class="row">
						<ui:fragment
							rendered="#{fundingBTCAction.selectedAddress ne null}">
							<h:outputText value="#{text['home.funding.deposit.message']}: " />
							<b> <h:outputText value="#{fundingBTCAction.selectedAddress}" />
							</b>
							<p:spacer width="5" height="0" />
							<p:commandLink update=":funding:qrCodePanel"
								onclick="PF('fundingPoller').stop()"
								oncomplete="PF('qrCodeDialog').show()">
								<i class="fa fa-qrcode"></i>
							</p:commandLink>
						</ui:fragment>
						<ui:fragment
							rendered="#{fundingBTCAction.selectedAddress eq null}">
							<h:outputText style="color: red;"
								value="#{text['menu.admin.fundingBTC.userNotEnabled']}" />
							<h:outputText value="#{text['home.funding.notAllowed']}"
								escape="false" />
						</ui:fragment>
						<p:spacer width="100%" height="1" />
						<p:accordionPanel activeIndex="-1">
							<p:tab id="incomingTransactions"
								title="#{text['home.funding.deposit.incoming']}">
								<h:outputText
									value="#{text['home.funding.deposit.incoming.message']}"
									escape="false" />
								<p:dataTable var="incomingTransaction"
									value="#{fundingBTCAction.incomingTransactions}">
									<p:column styleClass="text-center" style="width:300px">
										<p:link
											href="#{fundingBTCAction.transactionLinkBase}#{incomingTransaction.transactionHash}"
											target="_new">
											<h:outputText value="#{incomingTransaction.address}" />
										</p:link>
									</p:column>
									<p:column styleClass="text-center" style="width:120px">
										<f:facet name="header">
											<h:outputText
												value="#{text['home.funding.deposit.incoming.amount']}" />
												(<i class="fa fa-btc"></i>)												
										</f:facet>
										<h:outputText value="#{incomingTransaction.btc}">
											<f:convertNumber maxFractionDigits="8" />
										</h:outputText>
									</p:column>
									<p:column styleClass="text-center" style="width:120px">
										<f:facet name="header">
											<h:outputText
												value="#{text['home.funding.deposit.incoming.confirmations']}" />
										</f:facet>
										<h:outputText value="#{incomingTransaction.confirmations}" />
									</p:column>
								</p:dataTable>
								<p:spacer width="100%" height="1" />
							</p:tab>
							<p:tab id="oldAddresses"
								title="#{text['home.funding.deposit.addresses']}">
								<h:outputText
									value="#{text['home.funding.deposit.addresses.message']}"
									escape="false" />
								<p:dataTable var="address" value="#{fundingBTCAction.addresses}">
									<p:column styleClass="text-center" style="width:260px">
										<f:facet name="header">
											<h:outputText
												value="#{text['home.dashboard.transactions.created']}" />
										</f:facet>
										<h:outputText value="#{address.created}">
											<f:convertDateTime dateStyle="default" timeZone="CET"
												type="both" />
										</h:outputText>
									</p:column>
									<p:column styleClass="text-center">
										<p:link
											href="#{fundingBTCAction.addressLinkBase}#{address.address}"
											target="_new">
											<h:outputText value="#{address.address}" />
										</p:link>
									</p:column>
								</p:dataTable>
							</p:tab>
						</p:accordionPanel>
					</div>
				</p:panel>
			</div>
			<p:spacer width="100%" height="1" />
			<p:panel id="transactions"
				header="#{text['home.funding.transactions']}">
				<p:dataTable var="transaction"
					value="#{fundingBTCAction.transactions}">
					<p:column styleClass="text-center" style="width:90px">
						<f:facet name="header">
							<h:outputText value="#{text['home.dashboard.transactions.type']}" />
						</f:facet>
						<ui:fragment rendered="#{transaction.type eq 0}">
							<i style="color: #1f6dbb" class="fa fa-plus"></i>
						</ui:fragment>
						<ui:fragment rendered="#{transaction.type eq 1}">
							<i style="color: #f27229" class="fa fa-minus"></i>
						</ui:fragment>
					</p:column>
					<p:column styleClass="text-center" style="width:260px">
						<f:facet name="header">
							<h:outputText
								value="#{text['home.dashboard.transactions.created']}" />
						</f:facet>
						<h:outputText value="#{transaction.created}">
							<f:convertDateTime dateStyle="default" timeZone="CET" type="both" />
						</h:outputText>
					</p:column>
					<p:column styleClass="text-center" style="width:120px">
						<f:facet name="header">
							<h:outputText
								value="#{text['home.funding.transactions.btcReceived']}"
								escape="false" />
						</f:facet>
						<ui:fragment rendered="#{transaction.type eq 0}">
							<h:outputText value="#{transaction.btc}" />
						</ui:fragment>
					</p:column>
					<p:column styleClass="text-center" style="width:120px">
						<f:facet name="header">
							<h:outputText
								value="#{text['home.funding.transactions.btcSent']}"
								escape="false" />
						</f:facet>
						<ui:fragment rendered="#{transaction.type eq 1}">
							<h:outputText value="#{transaction.btc}" />
						</ui:fragment>
					</p:column>
					<p:column styleClass="text-center">
						<f:facet name="header">
							<h:outputText value="#{text['home.funding.transactions.note']}" />
						</f:facet>
						<p:link
							href="#{fundingBTCAction.transactionLinkBase}#{transaction.transactionHash}"
							target="_new">
							<h:outputText value="#{transaction.address}" />
						</p:link>
					</p:column>
				</p:dataTable>
			</p:panel>
			<p:spacer width="100%" height="50" />
			<div class="col-md-12 text-center">
				<a href="#top">top</a>
			</div>
			<p:spacer width="100%" height="20" />
			<p:poll id="fundingPoll" widgetVar="fundingPoller"
				interval="#{fundingBTCAction.pollingInterval}"
				listener="#{fundingBTCAction.refreshUI}" process="@form"
				update="@form" />



			<p:dialog id="dialog1"
				header="#{text['home.funding.deposit.addresses.qr']}"
				showEffect="fade" widgetVar="qrCodeDialog" modal="true"
				resizable="false" closable="true">
				<p:outputPanel id="qrCodePanel">
					<p:panelGrid>
						<p:row>
							<p:column styleClass="text-center">
								<h:outputText value="#{fundingBTCAction.selectedAddress}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="text-center">
								<p:graphicImage value="#{fundingBTCAction.selectedAddressQR}"></p:graphicImage>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:outputPanel>
				<p:ajax event="close" oncomplete="PF('fundingPoller').start()" />
			</p:dialog>



		</h:form>
	</ui:define>
</ui:composition>
</html>
