<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../layouts/defaultAdminFixed.xhtml">
	<ui:define name="title">#{text['home.funding.title']}</ui:define>
	<ui:define name="body">
		<h:form id="funding" autocomplete="off">
			<div class="col-md-12">
				<ui:fragment
					rendered="#{(fundingEURAction.eurAccount.lastReadStatus eq 1) or (fundingEURAction.eurAccount.lastReadStatus eq 2)}">
					<p:panel id="deposit" style="min-height: 200px;"
						header="#{text['home.funding.deposit']}">
						<div class="row">
							<p:panelGrid style="width: 100%">
								<p:row>
									<p:column styleClass="text-left">
										<h4>
											<h:outputText value="#{text['home.dashboard.statistics.bt']}" />
											(<i class="fa fa-eur"></i>):
											<p:inputText id="eurBalance" required="true"
												value="#{fundingEURAction.eurAccount.balance}">
												<f:convertNumber maxFractionDigits="2" />
											</p:inputText>
										</h4>
									</p:column>
								</p:row>
								<p:row>
									<p:column styleClass="text-left">
										<h4>
											<h:outputText value="#{text['home.dashboard.statistics.ba']}" />
											(<i class="fa fa-eur"></i>):
											<p:inputText id="eurBalanceAvailable" required="true"
												value="#{fundingEURAction.eurAccount.balanceAvailable}"
												readonly="#{facesContext.currentPhaseId.ordinal eq 6}">
												<f:convertNumber maxFractionDigits="2" />
											</p:inputText>
										</h4>
									</p:column>
								</p:row>
							</p:panelGrid>
						</div>
					</p:panel>
				</ui:fragment>
				<ui:fragment
					rendered="#{(fundingEURAction.eurAccount.lastReadStatus eq 0) or (fundingEURAction.eurAccount.lastReadStatus eq 3) or (fundingEURAction.eurAccount eq null)}">
					<p:panel id="depositNotAllowed" style="min-height: 200px;"
						header="#{text['home.funding.deposit']}">
						<div class="row">
							<h:outputText style="color: red;"
								value="#{text['menu.admin.fundingEUR.userNotEnabled']}" />
							<h:outputText value="#{text['home.funding.notAllowed']}"
								escape="false" />
						</div>
					</p:panel>
				</ui:fragment>
				<ui:fragment
					rendered="#{(fundingEURAction.eurAccount.lastReadStatus eq 1) or (fundingEURAction.eurAccount.lastReadStatus eq 2)}">
					<p:spacer width="100%" height="10" />
					<div class="form-group form-actions text-right">
						<h:commandButton value="#{text['button.cancel']}"
							action="#{fundingEURAction.cancel}" immediate="true"
							styleClass="btn btn-default" />
						<h:commandButton value="#{text['button.save']}"
							action="#{fundingEURAction.save}" styleClass="btn btn-primary" />
					</div>
				</ui:fragment>
			</div>
			<p:spacer width="100%" height="20" />
			<p:poll id="fundingPoll" widgetVar="fundingPoller"
				interval="#{fundingEURAction.pollingInterval}"
				listener="#{fundingEURAction.refreshUI}" process="@form"
				update="@form" />
		</h:form>
	</ui:define>
</ui:composition>
</html>
