<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../layouts/defaultAdmin.xhtml">
	<span id="top"></span>
	<ui:define name="title">#{text['website.headerMenu.dashboard']}</ui:define>
	<ui:define name="body">
		<h:form id="home">
			<p:panel id="wallet" header="#{text['home.leftMenu.wallet']}">
				<p:spacer width="100%" height="3" />
				<div class="col-md-12 text-right">
					<h:outputText
						value="#{text['home.dashboard.transactions.type.sell']}"
						style="color: green;" />
					<p:spacer width="10" height="1" />
					<h:outputText value="TT: #{dashboardAction.totalTransactionsSell}"
						class="label label-default" />
					<p:spacer width="10" height="1" />
					<span class="label label-default">BR: <i class="fa fa-btc"></i>
						<h:outputText id="btcRequested"
							value="#{dashboardAction.btcRequested}">
							<f:convertNumber maxFractionDigits="8" />
						</h:outputText>
					</span>
					<p:spacer width="10" height="1" />
					<span class="label label-default">ER: <i class="fa fa-eur"></i>
						<h:outputText id="eurRequested"
							value="#{dashboardAction.eurRequested}">
							<f:convertNumber maxFractionDigits="2" />
						</h:outputText>
					</span>
					<p:spacer width="10" height="1" />
					<h:outputText
						value="TC: #{dashboardAction.transactionsCompletedSell}"
						class="label label-warning" />
					<p:spacer width="10" height="1" />
					<span class="label label-warning">BS: <i class="fa fa-btc"></i>
						<h:outputText id="btcSold" value="#{dashboardAction.btcSold}">
							<f:convertNumber maxFractionDigits="8" />
						</h:outputText>
					</span>
					<p:spacer width="10" height="1" />
					<span class="label label-warning">ER: <i class="fa fa-eur"></i>
						<h:outputText id="eurReceived"
							value="#{dashboardAction.eurReceived}">
							<f:convertNumber maxFractionDigits="2" />
						</h:outputText>
					</span>
					<p:spacer width="10" height="1" />
					<span class="label label-warning">ASP: <i class="fa fa-eur"></i>
						<h:outputText id="averageSellingPrice"
							value="#{dashboardAction.averageSellingPrice}">
							<f:convertNumber maxFractionDigits="2" />
						</h:outputText>
					</span>
					<h:outputText value="*" />
				</div>
				<p:spacer width="100%" height="1" />
				<div class="col-md-12 text-right">
					<h:outputText
						value="#{text['home.dashboard.transactions.type.buy']}"
						style="color: red;" />
					<p:spacer width="10" height="1" />
					<h:outputText value="TT: #{dashboardAction.totalTransactionsBuy}"
						class="label label-default" />
					<p:spacer width="10" height="1" />
					<span class="label label-default">BR: <i class="fa fa-btc"></i>
						<h:outputText id="btcRequestedBuy"
							value="#{dashboardAction.btcRequestedBuy}">
							<f:convertNumber maxFractionDigits="8" />
						</h:outputText>
					</span>
					<p:spacer width="10" height="1" />
					<span class="label label-default">ER: <i class="fa fa-eur"></i>
						<h:outputText id="eurRequestedBuy"
							value="#{dashboardAction.eurRequestedBuy}">
							<f:convertNumber maxFractionDigits="2" />
						</h:outputText>
					</span>
					<p:spacer width="10" height="1" />
					<h:outputText
						value="TC: #{dashboardAction.transactionsCompletedBuy}"
						class="label label-warning" />
					<p:spacer width="10" height="1" />
					<span class="label label-warning">BB: <i class="fa fa-btc"></i>
						<h:outputText id="btcBought" value="#{dashboardAction.btcBought}">
							<f:convertNumber maxFractionDigits="8" />
						</h:outputText>
					</span>
					<p:spacer width="10" height="1" />
					<span class="label label-warning">ES: <i class="fa fa-eur"></i>
						<h:outputText id="eurSent" value="#{dashboardAction.eurSent}">
							<f:convertNumber maxFractionDigits="2" />
						</h:outputText>
					</span>
					<p:spacer width="10" height="1" />
					<span class="label label-warning">ASP: <i class="fa fa-eur"></i>
						<h:outputText id="averageBuyingPrice"
							value="#{dashboardAction.averageBuyingPrice}">
							<f:convertNumber maxFractionDigits="2" />
						</h:outputText>
					</span>
					<h:outputText value="**" />
				</div>
				<p:spacer width="100%" height="1" />
				<div class="col-md-12 text-right">
					<h:outputText value="TT: #{dashboardAction.totalTransactions}"
						class="label label-default" />
					<p:spacer width="10" height="1" />
					<h:outputText value="TC: #{dashboardAction.transactionsCompleted}"
						class="label label-warning" />
				</div>
				<p:spacer width="100%" height="0" />
				<ui:fragment rendered="#{menuController.admin}">
					<p:panelGrid style="width: 100%">
						<p:row>
							<p:column styleClass="text-left">
								<h4>
									<h:outputText value="#{text['home.dashboard.statistics.bt']}" />
									(<i class="fa fa-btc"></i>):
									<h:outputText id="btcBalanceAdmin"
										value="#{dashboardAction.btcBalance}" class="label label-info">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</h4>
							</p:column>
							<p:column styleClass="text-right">
								<h4>
									<h:outputText value="#{text['home.dashboard.statistics.ea']}" />
									(<i class="fa fa-eur"></i>):
									<h:outputText id="eurBalanceAdmin" class="label label-info"
										value="#{dashboardAction.eurBalance}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</h4>
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="text-left">
								<h4>
									<h:outputText value="#{text['home.dashboard.statistics.ba']}" />
									(<i class="fa fa-btc"></i>):
									<h:outputText id="btcBalanceAvailableAdmin"
										value="#{dashboardAction.btcBalanceAvailable}"
										class="label label-info">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</h4>
							</p:column>
							<p:column styleClass="text-right">
								<h4>
									<h:outputText value="#{text['home.dashboard.statistics.ba']}" />
									(<i class="fa fa-eur"></i>):
									<h:outputText id="eurBalanceAvailableAdmin"
										class="label label-info"
										value="#{dashboardAction.eurBalanceAvailable}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</h4>
							</p:column>
						</p:row>
					</p:panelGrid>
				</ui:fragment>
				<ui:fragment rendered="#{!menuController.admin}">
					<p:panelGrid style="width: 100%">
						<p:row>
							<p:column styleClass="text-left">
								<h4>
									<h:outputText value="#{text['home.dashboard.statistics.bt']}" />
									(<i class="fa fa-btc"></i>):
									<h:outputText id="btcBalance"
										value="#{dashboardAction.btcBalance}" class="label label-info">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</h4>
							</p:column>
							<p:column styleClass="text-right" rowspan="2">
								<ui:fragment rendered="#{dashboardAction.accountLastRead eq 0}">
									<h4>
										<h:outputText value="#{text['home.dashboard.statistics.ea']}" />
										(<i class="fa fa-eur"></i>):
										<h:outputText id="eurBalanceInactive"
											class="label label-default"
											value="#{dashboardAction.eurBalance}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText>
										<h:outputText value="**" />
									</h4>
								</ui:fragment>
								<ui:fragment rendered="#{dashboardAction.accountLastRead eq 1}">
									<h4>
										<h:outputText value="#{text['home.dashboard.statistics.ea']}" />
										(<i class="fa fa-eur"></i>):
										<h:outputText id="eurBalanceError" class="label label-danger"
											value="#{dashboardAction.eurBalance}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText>
										<h:outputText value="**" />
									</h4>
								</ui:fragment>
								<ui:fragment rendered="#{dashboardAction.accountLastRead eq 2}">
									<h4>
										<h:outputText value="#{text['home.dashboard.statistics.ea']}" />
										(<i class="fa fa-eur"></i>):
										<h:outputText id="eurBalanceOK" class="label label-info"
											value="#{dashboardAction.eurBalance}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText>
										<h:outputText value="***" />
									</h4>
								</ui:fragment>
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="text-left">
								<h4>
									<h:outputText value="#{text['home.dashboard.statistics.ba']}" />
									(<i class="fa fa-btc"></i>):
									<h:outputText id="btcBalanceAvailable"
										value="#{dashboardAction.btcBalanceAvailable}"
										class="label label-info">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</h4>
							</p:column>
						</p:row>
					</p:panelGrid>
				</ui:fragment>
			</p:panel>
			<p:spacer width="100%" height="1" />
			<p:accordionPanel activeIndex="0">
				<p:tab id="transactions"
					title="#{text['home.leftMenu.transactions']}">
					<p:spacer width="100%" height="3" />
					<ui:fragment rendered="#{menuController.admin}">
						<p:dataTable var="transaction"
							value="#{dashboardAction.transactions}" paginator="true"
							rows="50"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="50,200,500">
							<p:column styleClass="text-center" style="width:70px"
								sortBy="#{transaction.account.user.username}">
								<f:facet name="header">
									<h:outputText value="#{text['userList.user']}" />
								</f:facet>
								<h:outputText value="#{transaction.account.user.username}" />
							</p:column>
							<p:column styleClass="text-center" style="width:70px"
								sortBy="#{transaction.code}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.code']}" />
								</f:facet>
								<h:outputText value="#{transaction.code}" />
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.type}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.type']}" />
								</f:facet>
								<ui:fragment rendered="#{transaction.type eq 0}">
									<h:outputText style="color:	green;"
										value="#{text['home.dashboard.transactions.type.buy']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.type eq 1}">
									<h:outputText style="color:	red;"
										value="#{text['home.dashboard.transactions.type.sell']}" />
								</ui:fragment>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.modified}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.modified']}" />
								</f:facet>
								<h:outputText value="#{transaction.modified}">
									<f:convertDateTime dateStyle="default" timeZone="CET"
										type="both" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.btc}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.btc']} (<i class="fa fa-btc"></i>)
						</f:facet>
								<h:outputText value="#{transaction.btc}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.eur}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.eur']} (<i class="fa fa-eur"></i>)
						</f:facet>
								<h:outputText value="#{transaction.eur}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.price}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.price']} (<i
										class="fa fa-btc"></i>/<i class="fa fa-eur"></i>)
						</f:facet>
								<h:outputText value="#{transaction.price}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.fee}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.fee']} (<i class="fa fa-btc"></i>)
						</f:facet>
								<h:outputText value="#{transaction.fee}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.status}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.status']}" />
								</f:facet>
								<ui:fragment rendered="#{transaction.status eq 1}">
									<h:outputText class="label label-warning"
										value="#{text['website.contact.orderStatus.orderHistory.status.waitingPayment']}" />
									<ui:fragment rendered="#{transaction.type eq 0}">
										<br></br>
										<p:commandLink update="@form"
											onclick="PF('confirmPaymentBlockUI').show()"
											action="#{dashboardAction.forceConfirm}">
											<h:outputText class="label label-warning"
												value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceived']}" />
											<f:setPropertyActionListener value="#{transaction}"
												target="#{dashboardAction.selectedTransaction}" />
										</p:commandLink>
									</ui:fragment>
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 2}">
									<h:outputText class="label label-primary"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceived']}" />
									<ui:fragment rendered="#{transaction.type eq 1}">
										<br></br>
										<p:commandLink update="@form"
											onclick="PF('confirmPaymentBlockUI').show()"
											action="#{dashboardAction.forceConfirm}">
											<h:outputText class="label label-warning"
												value="#{text['website.contact.orderStatus.orderHistory.status.paymentSentEUR']}" />
											<f:setPropertyActionListener value="#{transaction}"
												target="#{dashboardAction.selectedTransaction}" />
										</p:commandLink>
									</ui:fragment>
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 3}">
									<h:outputText class="label label-info"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentSent']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 6}">
									<h:outputText class="label label-primary"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedWaitingConfirmation']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 7}">
									<h:outputText class="label label-info"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentSentEUR']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 8}">
									<h:outputText class="label label-primary"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedNotConfirmed']}" />
									<br></br>
									<p:commandLink update="@form"
										onclick="PF('confirmPaymentBlockUI').show()"
										action="#{dashboardAction.forceConfirm}">
										<h:outputText class="label label-success"
											value="#{text['website.contact.orderStatus.orderHistory.confirmed']}" />
										<f:setPropertyActionListener value="#{transaction}"
											target="#{dashboardAction.selectedTransaction}" />
									</p:commandLink>
									<p:spacer width="5" height="0" />
									<p:commandLink update="@form"
										onclick="PF('confirmPaymentBlockUI').show()"
										action="#{dashboardAction.notConfirmed}">
										<h:outputText class="label label-default"
											value="#{text['website.contact.orderStatus.orderHistory.notConfirmed']}" />
										<f:setPropertyActionListener value="#{transaction}"
											target="#{dashboardAction.selectedTransaction}" />
									</p:commandLink>
								</ui:fragment>
								<p:blockUI block="home" widgetVar="confirmPaymentBlockUI" />
							</p:column>
							<p:column styleClass="text-center" style="width:70px">
								<p:commandLink update=":home:transactionPanel"
									onclick="PF('dashboardPoller').stop()"
									oncomplete="PF('transactionDialog').show()">
									<i class="fa fa-search"></i>
									<f:setPropertyActionListener value="#{transaction}"
										target="#{dashboardAction.selectedTransaction}" />
								</p:commandLink>
								<p:spacer width="5" height="0" />
								<ui:fragment
									rendered="#{transaction.transactionHash.length() gt 0}">
									<p:link
										href="#{dashboardAction.transactionLinkBase}#{transaction.transactionHash}"
										target="_new">
										<i class="fa fa-external-link"></i>
									</p:link>
								</ui:fragment>
								<ui:fragment
									rendered="#{transaction.transactionHash.length() eq 0 and transaction.status eq 3}">
									<p:commandLink update=":home:transactionHashPanel"
										onclick="PF('dashboardPoller').stop()"
										oncomplete="PF('transactionHashDialog').show()">
										<i class="fa fa-plus"></i>
										<f:setPropertyActionListener value="#{transaction}"
											target="#{dashboardAction.selectedTransaction}" />
									</p:commandLink>
								</ui:fragment>
							</p:column>
						</p:dataTable>
					</ui:fragment>
					<ui:fragment rendered="#{!menuController.admin}">
						<p:dataTable var="transaction"
							value="#{dashboardAction.transactions}" paginator="true"
							rows="50"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="50,200,500">
							<p:column styleClass="text-center" style="width:70px"
								sortBy="#{transaction.code}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.code']}" />
								</f:facet>
								<h:outputText value="#{transaction.code}" />
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.type}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.type']}" />
								</f:facet>
								<ui:fragment rendered="#{transaction.type eq 0}">
									<h:outputText style="color:	green;"
										value="#{text['home.dashboard.transactions.type.buy']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.type eq 1}">
									<h:outputText style="color:	red;"
										value="#{text['home.dashboard.transactions.type.sell']}" />
								</ui:fragment>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.modified}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.modified']}" />
								</f:facet>
								<h:outputText value="#{transaction.modified}">
									<f:convertDateTime dateStyle="default" timeZone="CET"
										type="both" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.btc}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.btc']} (<i class="fa fa-btc"></i>)
						</f:facet>
								<h:outputText value="#{transaction.btc}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.eur}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.eur']} (<i class="fa fa-eur"></i>)
						</f:facet>
								<h:outputText value="#{transaction.eur}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.price}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.price']} (<i
										class="fa fa-btc"></i>/<i class="fa fa-eur"></i>)
						</f:facet>
								<h:outputText value="#{transaction.price}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" style="width:110px"
								sortBy="#{transaction.fee}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.fee']} (<i class="fa fa-btc"></i>)
						</f:facet>
								<h:outputText value="#{transaction.fee}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.status}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.status']}" />
								</f:facet>
								<ui:fragment rendered="#{transaction.status eq 1}">
									<h:outputText class="label label-warning"
										value="#{text['website.contact.orderStatus.orderHistory.status.waitingPayment']}" />
									<ui:fragment rendered="#{transaction.type eq 0}">
										<br></br>
										<p:commandLink update="@form"
											onclick="PF('confirmPaymentBlockUI').show()"
											action="#{dashboardAction.forceConfirm}">
											<h:outputText class="label label-warning"
												value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceived']}" />
											<f:setPropertyActionListener value="#{transaction}"
												target="#{dashboardAction.selectedTransaction}" />
										</p:commandLink>
									</ui:fragment>
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 2}">
									<h:outputText class="label label-primary"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceived']}" />
									<ui:fragment rendered="#{transaction.type eq 1}">
										<br></br>
										<p:commandLink update="@form"
											onclick="PF('confirmPaymentBlockUI').show()"
											action="#{dashboardAction.forceConfirm}">
											<h:outputText class="label label-warning"
												value="#{text['website.contact.orderStatus.orderHistory.status.paymentSentEUR']}" />
											<f:setPropertyActionListener value="#{transaction}"
												target="#{dashboardAction.selectedTransaction}" />
										</p:commandLink>
									</ui:fragment>
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 3}">
									<h:outputText class="label label-info"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentSent']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 6}">
									<h:outputText class="label label-primary"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedWaitingConfirmation']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 7}">
									<h:outputText class="label label-info"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentSentEUR']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 8}">
									<h:outputText class="label label-primary"
										value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedNotConfirmed']}" />
									<br></br>
									<p:commandLink update="@form"
										onclick="PF('confirmPaymentBlockUI').show()"
										action="#{dashboardAction.forceConfirm}">
										<h:outputText class="label label-success"
											value="#{text['website.contact.orderStatus.orderHistory.confirmed']}" />
										<f:setPropertyActionListener value="#{transaction}"
											target="#{dashboardAction.selectedTransaction}" />
									</p:commandLink>
									<p:spacer width="5" height="0" />
									<p:commandLink update="@form"
										onclick="PF('confirmPaymentBlockUI').show()"
										action="#{dashboardAction.notConfirmed}">
										<h:outputText class="label label-default"
											value="#{text['website.contact.orderStatus.orderHistory.notConfirmed']}" />
										<f:setPropertyActionListener value="#{transaction}"
											target="#{dashboardAction.selectedTransaction}" />
									</p:commandLink>
								</ui:fragment>
								<p:blockUI block="home" widgetVar="confirmPaymentBlockUI" />
							</p:column>
							<p:column styleClass="text-center" style="width:70px">
								<p:commandLink update=":home:transactionPanel"
									onclick="PF('dashboardPoller').stop()"
									oncomplete="PF('transactionDialog').show()">
									<i class="fa fa-search"></i>
									<f:setPropertyActionListener value="#{transaction}"
										target="#{dashboardAction.selectedTransaction}" />
								</p:commandLink>
								<p:spacer width="5" height="0" />
								<ui:fragment
									rendered="#{transaction.transactionHash.length() gt 0}">
									<p:link
										href="#{dashboardAction.transactionLinkBase}#{transaction.transactionHash}"
										target="_new">
										<i class="fa fa-external-link"></i>
									</p:link>
								</ui:fragment>
								<ui:fragment
									rendered="#{transaction.transactionHash.length() eq 0 and transaction.status eq 3}">
									<p:commandLink update=":home:transactionHashPanel"
										onclick="PF('dashboardPoller').stop()"
										oncomplete="PF('transactionHashDialog').show()">
										<i class="fa fa-plus"></i>
										<f:setPropertyActionListener value="#{transaction}"
											target="#{dashboardAction.selectedTransaction}" />
									</p:commandLink>
								</ui:fragment>
							</p:column>
						</p:dataTable>
					</ui:fragment>
				</p:tab>
				<p:tab id="transactionsHistory"
					title="#{text['home.leftMenu.transactionsHistory']}">
					<p:spacer width="100%" height="3" />
					<ui:fragment rendered="#{menuController.admin}">
						<p:dataTable var="transaction"
							value="#{dashboardAction.transactionsViewHistory}"
							paginator="true" rows="50"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="50,200,500">
							<p:column styleClass="text-center" style="width:70px"
								sortBy="#{transaction.account.user.username}">
								<f:facet name="header">
									<h:outputText value="#{text['userList.user']}" />
								</f:facet>
								<h:outputText value="#{transaction.account.user.username}" />
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.code}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.code']}" />
								</f:facet>
								<h:outputText value="#{transaction.code}" />
							</p:column>
							<p:column styleClass="text-center" style="width:120px"
								sortBy="#{transaction.type}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.type']}" />
								</f:facet>
								<ui:fragment rendered="#{transaction.type eq 0}">
									<h:outputText style="color:	green;"
										value="#{text['home.dashboard.transactions.type.buy']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.type eq 1}">
									<h:outputText style="color:	red;"
										value="#{text['home.dashboard.transactions.type.sell']}" />
								</ui:fragment>
							</p:column>
							<p:column styleClass="text-center"
								sortBy="#{transaction.modified}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.modified']}" />
								</f:facet>
								<h:outputText value="#{transaction.modified}">
									<f:convertDateTime dateStyle="default" timeZone="CET"
										type="both" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.btc}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.btc']} (<i class="fa fa-btc"></i>)
						</f:facet>
								<h:outputText value="#{transaction.btc}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.eur}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.eur']} (<i class="fa fa-eur"></i>)
						</f:facet>
								<h:outputText value="#{transaction.eur}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.price}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.price']} (<i
										class="fa fa-btc"></i>/<i class="fa fa-eur"></i>)
						</f:facet>
								<h:outputText value="#{transaction.price}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.fee}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.fee']} (<i class="fa fa-btc"></i>)
						</f:facet>
								<h:outputText value="#{transaction.fee}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.status}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.status']}" />
								</f:facet>
								<ui:fragment rendered="#{transaction.status eq 4}">
									<h:outputText class="label label-success"
										value="#{text['website.contact.orderStatus.orderHistory.status.processed']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 5}">
									<h:outputText class="label label-danger"
										value="#{text['website.contact.orderStatus.orderHistory.status.expired']}" />
								</ui:fragment>
							</p:column>
							<p:column styleClass="text-center" style="width:90px">
								<p:commandLink update=":home:transactionPanel"
									onclick="PF('dashboardPoller').stop()"
									oncomplete="PF('transactionDialog').show()">
									<i class="fa fa-search"></i>
									<f:setPropertyActionListener value="#{transaction}"
										target="#{dashboardAction.selectedTransaction}" />
								</p:commandLink>
								<p:spacer width="5" height="0" />
								<ui:fragment
									rendered="#{transaction.transactionHash.length() gt 0}">
									<p:link
										href="#{dashboardAction.transactionLinkBase}#{transaction.transactionHash}"
										target="_new">
										<i class="fa fa-external-link"></i>
									</p:link>
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 5}">
									<p:spacer width="5" height="0" />
									<p:commandLink update="@form"
										onclick="PF('dashboardPoller').stop()"
										oncomplete="PF('confirmationDialog').show()">
										<i class="fa fa-trash"></i>
										<f:setPropertyActionListener value="#{transaction}"
											target="#{dashboardAction.selectedTransaction}" />
									</p:commandLink>
								</ui:fragment>
							</p:column>
						</p:dataTable>
					</ui:fragment>
					<ui:fragment rendered="#{!menuController.admin}">
						<p:dataTable var="transaction"
							value="#{dashboardAction.transactionsViewHistory}"
							paginator="true" rows="50"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="50,200,500">
							<p:column styleClass="text-center" sortBy="#{transaction.code}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.code']}" />
								</f:facet>
								<h:outputText value="#{transaction.code}" />
							</p:column>
							<p:column styleClass="text-center" style="width:120px"
								sortBy="#{transaction.type}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.type']}" />
								</f:facet>
								<ui:fragment rendered="#{transaction.type eq 0}">
									<h:outputText style="color:	green;"
										value="#{text['home.dashboard.transactions.type.buy']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.type eq 1}">
									<h:outputText style="color:	red;"
										value="#{text['home.dashboard.transactions.type.sell']}" />
								</ui:fragment>
							</p:column>
							<p:column styleClass="text-center"
								sortBy="#{transaction.modified}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.modified']}" />
								</f:facet>
								<h:outputText value="#{transaction.modified}">
									<f:convertDateTime dateStyle="default" timeZone="CET"
										type="both" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.btc}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.btc']} (<i class="fa fa-btc"></i>)
						</f:facet>
								<h:outputText value="#{transaction.btc}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.eur}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.eur']} (<i class="fa fa-eur"></i>)
						</f:facet>
								<h:outputText value="#{transaction.eur}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.price}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.price']} (<i
										class="fa fa-btc"></i>/<i class="fa fa-eur"></i>)
						</f:facet>
								<h:outputText value="#{transaction.price}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.fee}">
								<f:facet name="header">
							#{text['home.dashboard.transactions.fee']} (<i class="fa fa-btc"></i>)
						</f:facet>
								<h:outputText value="#{transaction.fee}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:column>
							<p:column styleClass="text-center" sortBy="#{transaction.status}">
								<f:facet name="header">
									<h:outputText
										value="#{text['home.dashboard.transactions.status']}" />
								</f:facet>
								<ui:fragment rendered="#{transaction.status eq 4}">
									<h:outputText class="label label-success"
										value="#{text['website.contact.orderStatus.orderHistory.status.processed']}" />
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 5}">
									<h:outputText class="label label-danger"
										value="#{text['website.contact.orderStatus.orderHistory.status.expired']}" />
								</ui:fragment>
							</p:column>
							<p:column styleClass="text-center" style="width:90px">
								<p:commandLink update=":home:transactionPanel"
									onclick="PF('dashboardPoller').stop()"
									oncomplete="PF('transactionDialog').show()">
									<i class="fa fa-search"></i>
									<f:setPropertyActionListener value="#{transaction}"
										target="#{dashboardAction.selectedTransaction}" />
								</p:commandLink>
								<p:spacer width="5" height="0" />
								<ui:fragment
									rendered="#{transaction.transactionHash.length() gt 0}">
									<p:link
										href="#{dashboardAction.transactionLinkBase}#{transaction.transactionHash}"
										target="_new">
										<i class="fa fa-external-link"></i>
									</p:link>
								</ui:fragment>
								<ui:fragment rendered="#{transaction.status eq 5}">
									<p:spacer width="5" height="0" />
									<p:commandLink update="@form"
										onclick="PF('dashboardPoller').stop()"
										oncomplete="PF('confirmationDialog').show()">
										<i class="fa fa-trash"></i>
										<f:setPropertyActionListener value="#{transaction}"
											target="#{dashboardAction.selectedTransaction}" />
									</p:commandLink>
								</ui:fragment>
							</p:column>
						</p:dataTable>
					</ui:fragment>
				</p:tab>
			</p:accordionPanel>
			<p:spacer width="100%" height="1" />
			<div class="col-md-12 text-right">
				<small> <h:outputText escape="false"
						value="#{text['home.dashboard.statistics.legend1']}" />
				</small>
			</div>
			<div class="col-md-12 text-right">
				<small> <h:outputText escape="false"
						value="#{text['home.dashboard.statistics.legend3']}" />
				</small>
			</div>
			<ui:fragment rendered="#{!menuController.admin}">
				<div class="col-md-12 text-right">
					<small> <h:outputText escape="false"
							value="#{text['home.dashboard.statistics.legend2']}" />
					</small>
				</div>
			</ui:fragment>
			<p:spacer width="100%" height="50" />
			<div class="col-md-12 text-center">
				<a href="#top">top</a>
			</div>
			<p:spacer width="100%" height="20" />
			<p:poll id="dashboardPoll" widgetVar="dashboardPoller"
				interval="#{dashboardAction.pollingInterval}"
				listener="#{dashboardAction.refreshUI}" process="@form"
				update="@form" />
			<p:dialog id="dialog1"
				header="#{text['home.dashboard.transactions.details']}"
				showEffect="fade" widgetVar="transactionDialog" modal="true"
				resizable="false">
				<p:messages id="dialogMessages" showSummary="false"
					showDetail="true" closable="true" />
				<p:outputPanel id="transactionPanel">
					<ui:fragment rendered="#{menuController.admin}">
						<p:panelGrid
							rendered="#{not empty dashboardAction.selectedTransaction}">
							<f:facet name="header">
								<p:row>
									<p:column styleClass="text-center" style="width:70px">
										<h:outputText value="#{text['userList.user']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['home.dashboard.transactions.code']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['home.dashboard.transactions.type']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['home.dashboard.transactions.modified']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
							#{text['home.dashboard.transactions.btc']} (<i class="fa fa-btc"></i>)
								</p:column>
									<p:column styleClass="text-center" style="width:110px">
							#{text['home.dashboard.transactions.eur']} (<i class="fa fa-eur"></i>)
								</p:column>
									<p:column styleClass="text-center" style="width:110px">
							#{text['home.dashboard.transactions.price']} (<i
											class="fa fa-btc"></i>/<i class="fa fa-eur"></i>)
								</p:column>
									<p:column styleClass="text-center" style="width:110px">
							#{text['home.dashboard.transactions.fee']} (<i class="fa fa-btc"></i>)
								</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['home.dashboard.transactions.status']}" />
									</p:column>
								</p:row>
							</f:facet>
							<p:row>
								<p:column styleClass="text-center" style="width:70px">
									<h:outputText
										value="#{dashboardAction.selectedTransaction.account.user.username}" />
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.code}" />
								</p:column>
								<p:column>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.type eq 0}">
										<h:outputText style="color:	green;"
											value="#{text['home.dashboard.transactions.type.buy']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.type eq 1}">
										<h:outputText style="color:	red;"
											value="#{text['home.dashboard.transactions.type.sell']}" />
									</ui:fragment>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.modified}">
										<f:convertDateTime dateStyle="default" timeZone="CET"
											type="both" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.btc}">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.eur}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.price}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.fee}">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</p:column>
								<p:column styleClass="text-center">
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 0}">
										<h:outputText class="label label-default"
											value="#{text['website.contact.orderStatus.orderHistory.status.unconfirmed']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 1}">
										<h:outputText class="label label-warning"
											value="#{text['website.contact.orderStatus.orderHistory.status.waitingPayment']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 2}">
										<h:outputText class="label label-primary"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceived']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 3}">
										<h:outputText class="label label-info"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentSent']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 4}">
										<h:outputText class="label label-success"
											value="#{text['website.contact.orderStatus.orderHistory.status.processed']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 5}">
										<h:outputText class="label label-danger"
											value="#{text['website.contact.orderStatus.orderHistory.status.expired']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 6}">
										<h:outputText class="label label-primary"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedWaitingConfirmation']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 7}">
										<h:outputText class="label label-info"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentSentEUR']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 8}">
										<h:outputText class="label label-primary"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedNotConfirmed']}" />
									</ui:fragment>
								</p:column>
							</p:row>
							<p:row styleClass="ui-widget-header">
								<p:column styleClass="text-center" style="width:110px">
									<h:outputText
										value="#{text['home.dashboard.transactions.created']}" />
								</p:column>
								<p:column colspan="3" styleClass="text-center">
									<h:outputText
										value="#{text['success.orderSubmitted.orderSummary.address']}" />
								</p:column>
								<p:column colspan="2" styleClass="text-center">
									<h:outputText value="#{text['user.email']}" />
								</p:column>
								<p:column colspan="2" styleClass="text-center">Note</p:column>
							</p:row>
							<p:row>
								<p:column>
									<h:outputText id="createdAdmin"
										value="#{dashboardAction.selectedTransaction.created}">
										<f:convertDateTime dateStyle="default" timeZone="CET"
											type="both" />
									</h:outputText>
								</p:column>
								<p:column colspan="3">
									<h:outputText id="addressAdmin"
										value="#{dashboardAction.selectedTransaction.address}" />
								</p:column>
								<p:column colspan="2">
									<h:outputText id="emailAdmin"
										value="#{dashboardAction.selectedTransaction.email}" />
								</p:column>
								<p:column colspan="2">
									<h:outputText id="noteAdmin"
										value="#{dashboardAction.selectedTransaction.note}" />
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="8">
									<p:dataTable id="receiptsAdmin" var="receipt"
										rendered="#{not empty dashboardAction.selectedTransaction.receipts}"
										value="#{dashboardAction.selectedTransaction.receipts}">
										<p:column styleClass="text-center">
											<f:facet name="header">
												<h:outputText
													value="#{text['home.dashboard.transactions.receipts']}" />
											</f:facet>
											<p:commandButton value="#{receipt.name}" ajax="false"
												icon="ui-icon-arrowthick-1-s"
												action="#{dashboardAction.downloadReceipt}">
												<f:setPropertyActionListener value="#{receipt}"
													target="#{dashboardAction.selectedReceipt}" />
											</p:commandButton>
											<p:spacer width="10" height="0" />
											<p:commandLink update="@form"
												action="#{dashboardAction.deleteReceipt}">
												<i class="fa fa-trash fa-2"></i>
												<f:setPropertyActionListener value="#{receipt}"
													target="#{dashboardAction.selectedReceipt}" />
											</p:commandLink>
										</p:column>
									</p:dataTable>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="4">
									<p:fileUpload
										fileUploadListener="#{dashboardAction.uploadReceipt}"
										mode="advanced" dragDropSupport="false" multiple="true"
										update="dialogMessages receiptsAdmin" sizeLimit="1000000"
										fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
										label="#{text['home.dashboard.transactions.receipts.upload']}" />
								</p:column>
							</p:row>
						</p:panelGrid>
					</ui:fragment>
					<ui:fragment rendered="#{!menuController.admin}">
						<p:panelGrid
							rendered="#{not empty dashboardAction.selectedTransaction}">
							<f:facet name="header">
								<p:row>
									<p:column styleClass="text-center">
										<h:outputText
											value="#{text['home.dashboard.transactions.code']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['home.dashboard.transactions.type']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['home.dashboard.transactions.modified']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
							#{text['home.dashboard.transactions.btc']} (<i class="fa fa-btc"></i>)
								</p:column>
									<p:column styleClass="text-center" style="width:110px">
							#{text['home.dashboard.transactions.eur']} (<i class="fa fa-eur"></i>)
								</p:column>
									<p:column styleClass="text-center" style="width:110px">
							#{text['home.dashboard.transactions.price']} (<i
											class="fa fa-btc"></i>/<i class="fa fa-eur"></i>)
								</p:column>
									<p:column styleClass="text-center" style="width:110px">
							#{text['home.dashboard.transactions.fee']} (<i class="fa fa-btc"></i>)
								</p:column>
									<p:column styleClass="text-center">
										<h:outputText
											value="#{text['home.dashboard.transactions.status']}" />
									</p:column>
								</p:row>
							</f:facet>
							<p:row>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.code}" />
								</p:column>
								<p:column>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.type eq 0}">
										<h:outputText style="color:	green;"
											value="#{text['home.dashboard.transactions.type.buy']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.type eq 1}">
										<h:outputText style="color:	red;"
											value="#{text['home.dashboard.transactions.type.sell']}" />
									</ui:fragment>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.modified}">
										<f:convertDateTime dateStyle="default" timeZone="CET"
											type="both" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.btc}">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.eur}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.price}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{dashboardAction.selectedTransaction.fee}">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</p:column>
								<p:column styleClass="text-center">
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 0}">
										<h:outputText class="label label-default"
											value="#{text['website.contact.orderStatus.orderHistory.status.unconfirmed']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 1}">
										<h:outputText class="label label-warning"
											value="#{text['website.contact.orderStatus.orderHistory.status.waitingPayment']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 2}">
										<h:outputText class="label label-primary"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceived']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 3}">
										<h:outputText class="label label-info"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentSent']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 4}">
										<h:outputText class="label label-success"
											value="#{text['website.contact.orderStatus.orderHistory.status.processed']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 5}">
										<h:outputText class="label label-danger"
											value="#{text['website.contact.orderStatus.orderHistory.status.expired']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 6}">
										<h:outputText class="label label-primary"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedWaitingConfirmation']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 7}">
										<h:outputText class="label label-info"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentSentEUR']}" />
									</ui:fragment>
									<ui:fragment
										rendered="#{dashboardAction.selectedTransaction.status eq 8}">
										<h:outputText class="label label-primary"
											value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedNotConfirmed']}" />
									</ui:fragment>
								</p:column>
							</p:row>
							<p:row styleClass="ui-widget-header">
								<p:column styleClass="text-center" style="width:110px">
									<h:outputText
										value="#{text['home.dashboard.transactions.created']}" />
								</p:column>
								<p:column colspan="3" styleClass="text-center">
									<h:outputText
										value="#{text['success.orderSubmitted.orderSummary.address']}" />
								</p:column>
								<p:column colspan="2" styleClass="text-center">
									<h:outputText value="#{text['user.email']}" />
								</p:column>
								<p:column colspan="2" styleClass="text-center">Note</p:column>
							</p:row>
							<p:row>
								<p:column>
									<h:outputText id="created"
										value="#{dashboardAction.selectedTransaction.created}">
										<f:convertDateTime dateStyle="default" timeZone="CET"
											type="both" />
									</h:outputText>
								</p:column>
								<p:column colspan="3">
									<h:outputText id="address"
										value="#{dashboardAction.selectedTransaction.address}" />
								</p:column>
								<p:column colspan="2">
									<h:outputText id="email"
										value="#{dashboardAction.selectedTransaction.email}" />
								</p:column>
								<p:column colspan="2">
									<h:outputText id="note"
										value="#{dashboardAction.selectedTransaction.note}" />
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="8">
									<p:dataTable id="receipts" var="receipt"
										rendered="#{not empty dashboardAction.selectedTransaction.receipts}"
										value="#{dashboardAction.selectedTransaction.receipts}">
										<p:column styleClass="text-center">
											<f:facet name="header">
												<h:outputText
													value="#{text['home.dashboard.transactions.receipts']}" />
											</f:facet>
											<p:commandButton value="#{receipt.name}" ajax="false"
												icon="ui-icon-arrowthick-1-s"
												action="#{dashboardAction.downloadReceipt}">
												<f:setPropertyActionListener value="#{receipt}"
													target="#{dashboardAction.selectedReceipt}" />
											</p:commandButton>
											<p:spacer width="10" height="0" />
											<p:commandLink update="@form"
												action="#{dashboardAction.deleteReceipt}">
												<i class="fa fa-trash fa-2"></i>
												<f:setPropertyActionListener value="#{receipt}"
													target="#{dashboardAction.selectedReceipt}" />
											</p:commandLink>
										</p:column>
									</p:dataTable>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="4">
									<p:fileUpload
										fileUploadListener="#{dashboardAction.uploadReceipt}"
										mode="advanced" dragDropSupport="false" multiple="true"
										update="dialogMessages receipts" sizeLimit="1000000"
										fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
										label="#{text['home.dashboard.transactions.receipts.upload']}" />
								</p:column>
							</p:row>
						</p:panelGrid>
					</ui:fragment>
				</p:outputPanel>
				<p:ajax event="close" oncomplete="PF('dashboardPoller').start()" />
			</p:dialog>
			<p:dialog id="dialog2"
				header="#{text['home.dashboard.transactions.hash']}"
				showEffect="fade" widgetVar="transactionHashDialog" modal="true"
				resizable="false">
				<p:outputPanel id="transactionHashPanel">
					<p:panelGrid>
						<p:row>
							<p:column styleClass="text-center">
								<p:inputText id="transactionHash"
									value="#{dashboardAction.transactionHash}"
									title="#{text['home.dashboard.transactions.hash.tooltip']}"
									maxlength="255"
									style="text-align: center; width: 700px; border-radius: 0px; border: 1px solid #ddd;" />
								<p:tooltip id="transactionHashTooltip" for="transactionHash"
									showEvent="focus" hideEvent="blur" />
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="text-right">
								<h:commandButton id="transactionHashSubmit"
									value="#{text['button.submit']}" styleClass="btn btn-primary"
									style="width: 100px; height: 40px;"
									action="#{dashboardAction.addTransactionHash}" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:outputPanel>
				<p:ajax event="close" oncomplete="PF('dashboardPoller').start()" />
			</p:dialog>
			<p:dialog id="dialog3" header="#{text['delete.title']}"
				showEffect="fade" widgetVar="confirmationDialog" modal="true"
				resizable="false" closable="false">
				<p:outputPanel id="confirmationPanel">
					<p:panelGrid>
						<p:row>
							<p:column styleClass="text-center">
								<h:outputText value="#{text['delete.confirm']}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="text-center">
								<h:commandButton id="confirmationNo"
									value="#{text['button.no']}" styleClass="btn btn-default"
									style="width: 100px; height: 40px;" immediate="true"
									action="#{dashboardAction.refreshUI}" />
								<p:spacer width="50" height="0" />
								<h:commandButton id="confirmationYes"
									value="#{text['button.yes']}" styleClass="btn btn-primary"
									style="width: 100px; height: 40px;"
									action="#{dashboardAction.deleteTransaction}" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:outputPanel>
				<p:ajax event="close" oncomplete="PF('dashboardPoller').start()" />
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
</html>
