<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<c:set var="base" value="#{request.contextPath}" />
	<c:if test="${empty group}">
		<c:set var="group" value="main" />
	</c:if>
	<c:if test="${not empty param.debug}">
		<c:set var="debugAssets" value="${param.debug}" scope="session" />
	</c:if>
	<link rel="stylesheet" type="text/css"
		href="${base}/webjars/bootswatch/3.0.0/spacelab/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="${base}/styles/style.css" />
	<link rel="stylesheet" type="text/css"
		href="${base}/webjars/font-awesome/4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css"
		href="${base}/webjars/flag-icon-css/0.6.3/css/flag-icon.css" />

	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
	<script type="text/javascript"
		src="${base}/webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript"
		src="${base}/webjars/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="${base}/scripts/script.js"></script>
	<script type="text/javascript" src="${base}/scripts/transition.js"></script>
	<script type="text/javascript" src="${base}/scripts/collapse.js"></script>
</ui:composition>
</html>