<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../layouts/defaultAdminFixed.xhtml">
	<ui:define name="title">#{text['userProfile.title']}</ui:define>
	<ui:define name="body">
		<h:form id="securityForm" autocomplete="off" prependId="false">
			<div class="col-md-12">
				<p:panel id="passwordPanel" style="height: 200px;"
					header="#{text['user.password']}">
					<div class="row">
						<div class="col-md-6 form-group">
							<h:outputLabel styleClass="control-label" for="password"
								value="#{text['user.password']}" />
							<h:inputSecret styleClass="form-control"
								value="#{securityAction.user.password}" id="password"
								redisplay="true" required="true" />
						</div>
						<div class="col-md-6 form-group">
							<h:outputLabel styleClass="control-label" for="confirmPassword"
								value="#{text['user.confirmPassword']}" />
							<h:inputSecret styleClass="form-control"
								value="#{securityAction.user.confirmPassword}"
								id="confirmPassword" redisplay="true" required="true">
							</h:inputSecret>
						</div>
					</div>
					<p:spacer width="100%" height="5" />
					<div class="form-group form-actions text-right">
						<h:commandButton value="#{text['button.cancel']}"
							action="#{securityAction.cancel}" immediate="true"
							styleClass="btn btn-default" />
						<h:commandButton value="#{text['button.save']}"
							action="#{securityAction.save}" styleClass="btn btn-primary" />
					</div>
				</p:panel>
			</div>
			<p:spacer width="100%" height="10" />
			<div class="col-md-12">
				<p:panel id="twoFAPanel" style="height: 300px;"
					header="#{text['userProfile.2FA']}">
					<ui:fragment rendered="#{!securityAction.twoFAEnabled}">
						<div class="col-md-12 text-left">
							<h:outputText value="#{text['userProfile.2FA.message']}" />
							<p:spacer width="100%" height="1" />
							<p:commandButton value="#{text['button.enable']}"
								styleClass="btn btn-primary"
								update=":securityForm:enableTwoFAPanel"
								oncomplete="PF('twoFADialog').show()" />
						</div>
					</ui:fragment>
					<ui:fragment rendered="#{securityAction.twoFAEnabled}">
						<div class="col-md-12 text-left">
							<h:outputText value="#{text['userProfile.2FA.disable.message']}" />
							<p:inputText id="otpDisable"
								styleClass="input-block-level form-control" maxlength="6"
								value="#{securityAction.password2FADisable}"
								placeholder="One-Time Password">
							</p:inputText>
							<p:spacer width="100%" height="1" />
							<h:commandButton value="#{text['button.disable']}"
								action="#{securityAction.disable2FA}"
								styleClass="btn btn-primary" />
						</div>
					</ui:fragment>
				</p:panel>
				<p:dialog id="dialog1" header="#{text['userProfile.2FA']}"
					showEffect="fade" widgetVar="twoFADialog" modal="true"
					resizable="false">
					<p:outputPanel id="enableTwoFAPanel">
						<p:panelGrid>
							<p:row>
								<p:column styleClass="text-center">
									<div class="col-md-12 text-left">
										<h:outputText value="#{text['userProfile.2FA.enabling']}" />
										<br></br>
										<h:outputText value="#{text['userProfile.2FA.secret']}: " />
										<h:outputLabel value="#{securityAction.twoFAKey}" />
									</div>
								</p:column>
							</p:row>
							<p:row>
								<p:column styleClass="text-center">
									<p:graphicImage value="#{securityAction.twoFALink}"></p:graphicImage>
								</p:column>
							</p:row>
							<p:row>
								<p:column styleClass="text-right">
									<p:inputText id="otpEnable"
										styleClass="input-block-level form-control" maxlength="6"
										value="#{securityAction.password2FA}"
										placeholder="One-Time Password">
									</p:inputText>
								</p:column>
							</p:row>
							<p:row>
								<p:column styleClass="text-right">
									<h:commandButton value="#{text['button.submit']}"
										update="@form" action="#{securityAction.enable2FA}"
										styleClass="btn btn-primary"
										oncomplete="PF('twoFADialog').hide()" />
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:outputPanel>
				</p:dialog>
			</div>
			<p:spacer width="100%" height="20" />
		</h:form>
	</ui:define>
</ui:composition>
</html>
