<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../layouts/defaultAdminFixed.xhtml">
	<ui:define name="title">#{text['userProfile.title']}</ui:define>
	<ui:define name="body">
		<c:set var="delObject" value="#{text['userList.user']}" />
		<h:form id="userForm">
			<div class="col-md-12">
				<p:panel id="cccount" style="height: 200px;"
					header="#{text['userProfile.heading']}">
					<h:outputText value="#{text['userProfile.message']}" />
					<h:inputHidden value="#{userForm.user.id}" id="id" />
					<h:inputHidden value="#{userForm.user.version}" id="version" />
					<h:inputHidden value="#{userForm.user.password}"
						id="originalPassword" />
					<input type="hidden" name="from" value="#{userForm.from}" />
					<c:if test="${userForm.rememberMe}">
						<h:inputHidden value="#{userForm.user.password}" id="password" />
						<h:inputHidden value="#{userForm.user.confirmPassword}"
							id="confirmPassword" />
					</c:if>
					<c:if test="${empty userForm.user.version}">
						<input type="hidden" name="encryptPass" value="true" />
					</c:if>
					<div class="row">
						<div class="col-md-6 form-group">
							<h:outputLabel styleClass="control-label" for="username"
								value="#{text['user.username']}" />
							<p:inputText styleClass="form-control" required="true"
								value="#{userForm.user.username}" id="username" />
						</div>
						<div class="col-md-6 form-group">
							<h:outputLabel styleClass="control-label" for="email"
								value="#{text['user.email']}" />
							<p:inputText styleClass="form-control"
								value="#{userForm.user.email}" id="email"
								readonly="#{facesContext.currentPhaseId.ordinal eq 6}" />
						</div>
					</div>
					<c:if test="${!userForm.rememberMe}">
						<div class="row">
							<div class="col-md-6 form-group"></div>
							<div class="col-md-6 form-group">
								<h:outputLabel for="advanced" value="#{text['user.theme']}: " />
								<p:themeSwitcher id="advanced" style="width:165px" effect="fade"
									value="#{userForm.user.theme}">
									<f:selectItems value="#{userForm.themes}" />
									<h:outputText styleClass="ui-theme ui-theme-"
										style="display-block" />
								</p:themeSwitcher>
							</div>
						</div>
					</c:if>
				</p:panel>
				<ui:fragment rendered="#{!userForm.admin}">
					<p:spacer width="100%" height="10" />
					<p:panel id="ppAccount" style="height: 300px;"
						header="#{text['userProfile.ppAccount']}">
						<div class="col-md-12 text-left">
							<h:outputLabel styleClass="control-label" for="ppNumber"
								value="#{text['userProfile.ppAccount.number']}" />
							<p:inputText styleClass="form-control" required="true"
								title="#{text['userProfile.ppAccount.number.tooltip']}"
								value="#{userForm.ppAccount.number}" id="ppNumber" />
							<p:tooltip id="ppNumberTooltip" for="ppNumber" showEvent="focus"
								hideEvent="blur" />
						</div>
						<div class="col-md-6 form-group">
							<ui:fragment rendered="#{userForm.ppAccount.owner eq null}">
								<h:outputLabel styleClass="control-label" for="ppOwner"
									value="#{text['userProfile.ppAccount.owner']}" />
								<p:inputText styleClass="form-control" required="true"
									title="#{text['userProfile.ppAccount.owner.tooltip']}"
									value="#{userForm.ppAccount.owner}" id="ppOwner" />
								<p:tooltip id="ppOwnerTooltip" for="ppOwner" showEvent="focus"
									hideEvent="blur" />
							</ui:fragment>
							<ui:fragment rendered="#{userForm.ppAccount.owner ne null}">
								<h:outputLabel styleClass="control-label" for="ppOwnerReadonly"
									value="#{text['userProfile.ppAccount.owner']}" />
								<p:inputText styleClass="form-control" required="true"
									title="#{text['userProfile.ppAccount.owner.tooltip']}"
									value="#{userForm.ppAccount.owner}" id="ppOwnerReadonly"
									readonly="#{facesContext.currentPhaseId.ordinal eq 6}" />
								<p:tooltip id="ppOwnerReadonlyTooltip" for="ppOwnerReadonly"
									showEvent="focus" hideEvent="blur" />
							</ui:fragment>
						</div>
						<div class="col-md-6 form-group">
							<ui:fragment rendered="#{userForm.ppAccount.id eq null}">
								<h:outputLabel styleClass="control-label" for="ppSSN"
									value="#{text['userProfile.ppAccount.SSN']}" />
								<p:inputText styleClass="form-control" required="true"
									title="#{text['userProfile.ppAccount.SSN.tooltip']}"
									value="#{userForm.ppAccount.id}" id="ppSSN" />
								<p:tooltip id="ppSSNTooltip" for="ppSSN" showEvent="focus"
									hideEvent="blur" />
							</ui:fragment>
							<ui:fragment rendered="#{userForm.ppAccount.id ne null}">
								<h:outputLabel styleClass="control-label" for="ppSSNReadonly"
									value="#{text['userProfile.ppAccount.SSN']}" />
								<p:inputText styleClass="form-control" required="true"
									title="#{text['userProfile.ppAccount.SSN.tooltip']}"
									value="#{userForm.ppAccount.id}" id="ppSSNReadonly"
									readonly="#{facesContext.currentPhaseId.ordinal eq 6}" />
								<p:tooltip id="ppSSNReadonlyTooltip" for="ppSSNReadonly"
									showEvent="focus" hideEvent="blur" />
							</ui:fragment>
						</div>
						<div class="col-md-6 form-group">
							<h:outputLabel styleClass="control-label" for="ppWebUsername"
								value="#{text['userProfile.ppAccount.webUsername']}" />
							<p:inputText styleClass="form-control" required="true"
								title="#{text['userProfile.ppAccount.webUsername.tooltip']}"
								value="#{userForm.ppAccount.webUsername}" id="ppWebUsername" />
							<p:tooltip id="ppWebUsernameTooltip" for="ppWebUsername"
								showEvent="focus" hideEvent="blur" />
						</div>
						<div class="col-md-6 form-group">
							<h:outputLabel styleClass="control-label" for="ppWebPassword"
								value="#{text['userProfile.ppAccount.webPassword']}" />
							<p:inputText styleClass="form-control" required="true"
								title="#{text['userProfile.ppAccount.webPassword.tooltip']}"
								value="#{userForm.ppAccount.webPassword}" id="ppWebPassword" />
							<p:tooltip id="ppWebPasswordTooltip" for="ppWebPassword"
								showEvent="focus" hideEvent="blur" />
						</div>
					</p:panel>
				</ui:fragment>
				<h:panelGroup styleClass="form-group" layout="block">
					<c:if test="${not empty param['userForm:userRoles']}">
						<input type="hidden" name="userForm:userRoles"
							value="${param['userForm:userRoles']}" />
					</c:if>
					<c:forEach var="role" items="#{userForm.userRoles}"
						varStatus="status">
						<c:if test="${!status.last}">,</c:if>
						<input type="hidden" name="userForm:userRoles" value="${role}" />
					</c:forEach>
					<h:inputHidden value="#{userForm.user.enabled}" />
					<h:inputHidden value="#{userForm.user.accountExpired}" />
					<h:inputHidden value="#{userForm.user.accountLocked}" />
					<h:inputHidden value="#{userForm.user.credentialsExpired}" />
				</h:panelGroup>
				<p:spacer width="100%" height="5" />
				<div class="form-group form-actions text-right">
					<h:commandButton value="#{text['button.cancel']}"
						action="#{userForm.cancel}" immediate="true"
						styleClass="btn btn-default" />
					<h:commandButton value="#{text['button.save']}"
						action="#{userForm.save}" styleClass="btn btn-primary" />
				</div>
			</div>
			<p:spacer width="100%" height="20" />
		</h:form>
	</ui:define>
</ui:composition>
</html>
