<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../../layouts/defaultAdminFixed.xhtml">
	<ui:define name="title">#{text['userList.title']}</ui:define>
	<ui:define name="body">
		<div class="col-sm-12">
			<h:form id="searchForm">
				<div class="row text-left">
					<h2>
						<h:outputText value="#{text['userList.heading']}" />
					</h2>
				</div>
			</h:form>
			<h:form id="userList">
				<!-- div id="actions" class="btn-group">
					<p:commandButton action=""
						value="#{text['button.add']}" id="add"
						styleClass="btn btn-primary">
						<f:param name="from" value="list" />
					</p:commandButton>
					<p:commandButton value="#{text['button.done']}" action="home"
						id="cancel" immediate="true" styleClass="btn btn-default">
					</p:commandButton>
				</div -->
				<p:dataTable id="users" var="user" value="#{userListAction.users}"
					sortBy="#{userListAction.sortColumn}" paginator="true" rows="25"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15">
					<p:column style="width: 40%" filterBy="#{user.user.username}">
						<f:facet name="header">
							<p:column sortBy="username">
								<h:outputText value="#{text['user.username']}" />
							</p:column>
						</f:facet>
						<p:commandLink action="#{userListAction.edit}"
							value="#{user.user.username}">
							<f:param name="id" value="#{user.user.id}" />
							<f:param name="from" value="list" />
						</p:commandLink>
					</p:column>
					<p:column style="width: 40%" filterBy="#{user.user.email}">
						<f:facet name="header">
							<p:column sortBy="email">
								<h:outputText value="#{text['user.email']}" />
							</p:column>
						</f:facet>
						<p:link href="mailto:#{user.user.email}">
							<h:outputText value="#{user.user.email}" />
						</p:link>
					</p:column>
					<p:column style="width: 20%">
						<f:facet name="header">
							<p:column sortBy="enabled">
								<h:outputText value="#{text['user.enabled']}" />
							</p:column>
						</f:facet>
						<h:selectBooleanCheckbox value="#{user.user.enabled}"
							disabled="true" />
					</p:column>
					<p:column styleClass="text-center" style="width:70px">
						<p:commandLink update=":userList:userPanel"
							onclick="PF('userListPoller').stop()"
							oncomplete="PF('userDialog').show()">
							<i class="fa fa-search"></i>
							<f:setPropertyActionListener value="#{user}"
								target="#{userListAction.selectedUser}" />
						</p:commandLink>
					</p:column>
				</p:dataTable>
				<p:dialog id="dialog1" header="#{text['userList.userDetails']}"
					showEffect="fade" widgetVar="userDialog" modal="true"
					resizable="false">
					<p:messages id="dialogMessages" showSummary="false"
						showDetail="true" closable="true" />
					<p:outputPanel id="userPanel">
						<p:panelGrid rendered="#{not empty userListAction.selectedUser}">
							<f:facet name="header">
								<p:row>
									<p:column styleClass="text-center">
										<h:outputText value="#{text['user.created']}" />
									</p:column>
									<p:column styleClass="text-center">
										<h:outputText value="#{text['user.username']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.email']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.theme']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.roles']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.secret']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.enabled']}" />
									</p:column>
								</p:row>
							</f:facet>
							<p:row>
								<p:column>
									<h:outputText id="created"
										value="#{userListAction.selectedUser.user.created}">
										<f:convertDateTime dateStyle="default" timeZone="CET"
											type="both" />
									</h:outputText>
								</p:column>
								<p:column>
									<h:outputText
										value="#{userListAction.selectedUser.user.username}" />
								</p:column>
								<p:column>
									<h:outputText value="#{userListAction.selectedUser.user.email}" />
								</p:column>
								<p:column>
									<h:outputText value="#{userListAction.selectedUser.user.theme}" />
								</p:column>
								<p:column>
									<ui:repeat var="r"
										value="#{userListAction.selectedUser.user.roleList}"
										varStatus="status">
										<h:outputText value="#{r.value} " />
									</ui:repeat>
								</p:column>
								<p:column>
									<h:outputText
										value="#{userListAction.selectedUser.user.secret}" />
								</p:column>
								<p:column styleClass="text-center">
									<h:selectBooleanCheckbox
										value="#{userListAction.selectedUser.user.enabled}" />
									<p:spacer width="5" height="0" />
									<h:commandButton value="#{text['button.save']}"
										action="#{userListAction.saveUser}"
										styleClass="btn btn-primary">
									</h:commandButton>
								</p:column>
							</p:row>
						</p:panelGrid>
						<p:spacer width="100%" height="5" />
						<p:panelGrid
							rendered="#{not empty userListAction.selectedUser.accounts}">
							<f:facet name="header">
								<p:row>
									<p:column colspan="10" styleClass="text-center">
										<h:outputText value="#{text['user.accountDetails']}" />
									</p:column>
								</p:row>
								<p:row>
									<p:column styleClass="text-center">
										<h:outputText value="#{text['user.created']}" />
									</p:column>
									<p:column styleClass="text-center">
										<h:outputText value="#{text['user.accountDetails.type']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.accountDetails.id']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.accountDetails.number']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.accountDetails.owner']}" />
									</p:column>
								</p:row>
							</f:facet>
							<ui:repeat var="a"
								value="#{userListAction.selectedUser.accounts}"
								varStatus="accountStatus">
								<p:row>
									<p:column>
										<h:outputText value="#{a.created}">
											<f:convertDateTime dateStyle="default" timeZone="CET"
												type="both" />
										</h:outputText>
									</p:column>
									<p:column styleClass="text-center">
										<ui:fragment rendered="#{a.type eq 0}">
											<h:outputText class="label label-info"
												value="#{text['user.accountDetails.type.eurPP']}" />
										</ui:fragment>
										<ui:fragment rendered="#{a.type eq 2}">
											<h:outputText class="label label-info"
												value="#{text['user.accountDetails.type.btc']}" />
										</ui:fragment>
										<ui:fragment rendered="#{a.type eq 5}">
											<h:outputText class="label label-info"
												value="#{text['user.accountDetails.type.eur']}" />
										</ui:fragment>
									</p:column>
									<p:column>
										<h:outputText value="#{a.id}" />
									</p:column>
									<p:column>
										<h:outputText value="#{a.number}" />
									</p:column>
									<p:column>
										<h:outputText value="#{a.owner} " />
									</p:column>
								</p:row>
							</ui:repeat>
						</p:panelGrid>
						<p:panelGrid
							rendered="#{not empty userListAction.selectedUser.accounts}">
							<f:facet name="header">
								<p:row>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['user.accountDetails.webUsername']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['user.accountDetails.webPassword']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.accountDetails.balance']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText
											value="#{text['user.accountDetails.balanceAvailable']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:110px">
										<h:outputText value="#{text['user.accountDetails.status']}" />
									</p:column>
									<p:column styleClass="text-center" style="width:120px">
									</p:column>
								</p:row>
							</f:facet>
							<ui:repeat var="a"
								value="#{userListAction.selectedUser.accounts}"
								varStatus="accountStatus">
								<p:row>
									<p:column>
										<h:outputText value="#{a.webUsername}" />
									</p:column>
									<p:column>
										<h:outputText value="#{a.webPassword}" />
									</p:column>
									<p:column>
										<h:outputText value="#{a.balance}" />
									</p:column>
									<p:column>
										<h:outputText value="#{a.balanceAvailable}" />
									</p:column>
									<p:column styleClass="text-center">
										<ui:fragment rendered="#{a.lastReadStatus eq 0}">
											<h:outputText class="label label-default"
												value="#{text['user.accountDetails.status.inactive']}" />
										</ui:fragment>
										<ui:fragment rendered="#{a.lastReadStatus eq 1}">
											<h:outputText class="label label-danger"
												value="#{text['user.accountDetails.status.lastReadError']}" />
										</ui:fragment>
										<ui:fragment rendered="#{a.lastReadStatus eq 2}">
											<h:outputText class="label label-success"
												value="#{text['user.accountDetails.status.lastReadOk']}" />
										</ui:fragment>
										<ui:fragment rendered="#{a.lastReadStatus eq 3}">
											<h:outputText class="label label-warning"
												value="#{text['user.accountDetails.status.seller']}" />
										</ui:fragment>
									</p:column>
									<ui:fragment rendered="#{accountStatus.last}">
										<p:column styleClass="text-center">
											<ui:fragment rendered="#{a.lastReadStatus eq 0}">
												<h:commandButton value="#{text['button.enable']}"
													action="#{userListAction.enableAccounts}"
													styleClass="btn btn-success">
												</h:commandButton>
												<p:spacer width="100%" height="1" />
												<h:commandButton
													value="#{text['user.accountDetails.status.seller']}"
													action="#{userListAction.enableAccountsSeller}"
													styleClass="btn btn-warning">
												</h:commandButton>
											</ui:fragment>
											<ui:fragment rendered="#{a.lastReadStatus eq 1}">
												<h:commandButton
													value="#{text['user.accountDetails.status.inactive']}"
													action="#{userListAction.disableAccounts}"
													styleClass="btn btn-default">
												</h:commandButton>
												<p:spacer width="100%" height="1" />
												<h:commandButton
													value="#{text['user.accountDetails.status.seller']}"
													action="#{userListAction.enableAccountsSeller}"
													styleClass="btn btn-warning">
												</h:commandButton>
											</ui:fragment>
											<ui:fragment rendered="#{a.lastReadStatus eq 2}">
												<h:commandButton
													value="#{text['user.accountDetails.status.inactive']}"
													action="#{userListAction.disableAccounts}"
													styleClass="btn btn-default">
												</h:commandButton>
												<p:spacer width="100%" height="1" />
												<h:commandButton
													value="#{text['user.accountDetails.status.seller']}"
													action="#{userListAction.enableAccountsSeller}"
													styleClass="btn btn-warning">
												</h:commandButton>
											</ui:fragment>
											<ui:fragment rendered="#{a.lastReadStatus eq 3}">
												<h:commandButton
													value="#{text['user.accountDetails.status.inactive']}"
													action="#{userListAction.disableAccounts}"
													styleClass="btn btn-default">
												</h:commandButton>
												<p:spacer width="100%" height="1" />
												<h:commandButton value="#{text['button.enable']}"
													action="#{userListAction.enableAccounts}"
													styleClass="btn btn-success">
												</h:commandButton>
											</ui:fragment>
										</p:column>
									</ui:fragment>
								</p:row>
							</ui:repeat>
						</p:panelGrid>
						<p:spacer width="100%" height="5" />
						<p:dataTable id="documents" var="document"
							rendered="#{not empty userListAction.selectedUser.documents}"
							value="#{userListAction.selectedUser.documents}"
							style="width:600px;">
							<p:column styleClass="text-center">
								<f:facet name="header">
									<h:outputText value="#{text['userList.documents']}" />
								</f:facet>
								<p:commandButton value="#{document.name}" ajax="false"
									icon="ui-icon-arrowthick-1-s"
									action="#{userListAction.downloadDocument}">
									<f:setPropertyActionListener value="#{document}"
										target="#{userListAction.selectedDocument}" />
								</p:commandButton>
								<p:spacer width="10" height="0" />
								<p:commandLink update="@form"
									action="#{userListAction.deleteDocument}">
									<i class="fa fa-trash fa-2"></i>
									<f:setPropertyActionListener value="#{document}"
										target="#{userListAction.selectedDocument}" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
						<p:spacer width="100%" height="5" />
						<p:fileUpload
							fileUploadListener="#{userListAction.uploadDocument}"
							mode="advanced" dragDropSupport="false" multiple="true"
							update="dialogMessages documents" sizeLimit="1000000"
							fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
							label="#{text['userList.documents.upload']}" />
					</p:outputPanel>
					<p:ajax event="close" oncomplete="PF('userListPoller').start()" />
				</p:dialog>
				<p:poll id="userListPoll" widgetVar="userListPoller"
					interval="#{userListAction.pollingInterval}"
					listener="#{userListAction.refreshUI}" process="@form"
					update="@form" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>