<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">(€/B#{buyAction.priceBuyString}) #{text['website.home.paymentMethod']}: PostePay</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="buyForm" prependId="false">
			<div class="row" style="margin-top: -40px">
				<div class="col-md-1"></div>
				<div class="col-md-7 payment-method-label-payments text-left">
					<h:outputText
						value="#{text['website.home.paymentMethod']}: PostePay"
						escape="false" />
					<a href="#{request.contextPath}/about#2second"><img
						src="#{request.contextPath}/images/postepay_evolution.png"
						style="width: 50px;" /></a>
					<p:spacer width="100%" height="1" />
					<h:outputText value="Code: #{buyAction.transactionCode}"
						escape="false" />
				</div>
				<div class="col-md-3 payment-method-label-payments text-right">
					<h:outputText value="#{text['website.headerMenu.liquidity']}: " />
					<i class="fa fa-btc"></i>
					<h:outputText id="price" value="#{buyAction.walletBTCBalance}">
						<f:convertNumber maxFractionDigits="8" />
					</h:outputText>
				</div>
				<div class="col-md-1"></div>
			</div>
			<p:spacer width="100%" height="10" />
			<div class="row">
				<div class="col-md-1"></div>
				<div class="email-wrapper col-md-10">
					<p:messages id="messages" showSummary="false" showDetail="true"
						closable="true" escape="false" />
					<p:tabView id="tabs">
						<p:tab>
							<f:facet name="title">
								<i class="fa fa-btc"></i>
								<h:outputText value=" #{text['button.buy']} " />
							</f:facet>
							<div class="row text-center"></div>
							<div class="row paysafecard-pin text-center">
								<div class="col-md-2"></div>
								<div class="col-md-4 text-center">
									<p:outputLabel for="btcQuantity"
										value="#{text['buyPage.btcQuantity.title']}" escape="false" />
								</div>
								<div class="col-md-4 text-center">
									<p:outputLabel for="eurQuantity"
										value="#{text['buyPage.eurQuantity.title']}" escape="false" />
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-4 text-center">
									<p:inputMask id="btcQuantity" value="#{buyAction.btcQuantity}"
										mask="9.9999" title="#{text['buyPage.btcQuantity.tooltip']}"
										maxlength="20" disabled="#{buyAction.walletBTCEmpty}"
										style="text-align: center; width: 250px; border-radius: 0px; border: 1px solid #ddd;"
										required="true">
										<p:ajax event="keyup" update="eurQuantity"
											listener="#{buyAction.btcQuantityChange}" />
									</p:inputMask>
									<p:tooltip id="btcQuantityTooltip" for="btcQuantity"
										showEvent="focus" hideEvent="blur" />
								</div>
								<div class="col-md-4 text-center">
									<p:inputText id="eurQuantity" value="#{buyAction.eurQuantity}"
										title="#{text['buyPage.eurQuantity.tooltip']}" maxlength="20"
										readonly="true"
										style="text-align: center; width: 250px; border-radius: 0px; border: 1px solid #ddd;"
										required="true" />
									<p:tooltip id="eurQuantityTooltip" for="eurQuantity"
										showEvent="focus" hideEvent="blur" />
								</div>
								<div class="col-md-2"></div>
							</div>
							<p:spacer width="100%" height="10" />
							<div class="row">
								<p:inputText id="address" value="#{buyAction.address}"
									title="#{text['buyPage.bitcoinAddress.tooltip']}"
									placeholder="#{text['buyPage.bitcoinAddress.placeholder']}"
									maxlength="40" disabled="#{buyAction.walletBTCEmpty}"
									style="text-align: center; width: 450px; border-radius: 0px; border: 1px solid #ddd;"
									required="true" />
								<p:tooltip id="addressTooltip" for="address" showEvent="focus"
									hideEvent="blur" />
							</div>
							<p:spacer width="100%" height="10" />
							<div class="row">
								<p:selectBooleanCheckbox id="terms" required="true"
									requiredMessage="#{text['errors.terms']}">
									<f:validator validatorId="requiredCheckboxValidator" />
								</p:selectBooleanCheckbox>
								<p:spacer width="10" height="10" />
								<h:outputText id="termsLabel1"
									value="#{text['website.home.paymentMethods.postepay.terms1']}"
									escape="false" style="font-size: 18px;" />
								<a href="#{request.contextPath}/terms" target="_new"> <h:outputText
										id="termsLabel2"
										value="#{text['website.home.paymentMethods.postepay.terms2']}"
										escape="false" style="font-size: 18px;" />
								</a>
								<h:outputText id="termsLabel3"
									value="#{text['website.home.paymentMethods.postepay.terms3']}"
									escape="false" style="font-size: 18px;" />
							</div>
							<p:spacer width="100%" height="10" />
							<div id="actions" class="form-group">
								<h:commandButton id="cancel" value="#{text['button.cancel']}"
									styleClass="btn btn-default"
									style="width: 100px; height: 40px;"
									action="#{buyAction.cancel}" immediate="true" />
								<p:spacer width="50" height="10" />
								<h:commandButton id="buy" value="#{text['button.buy']}"
									onclick="PF('buyBlockUI').show()" styleClass="btn btn-primary"
									style="width: 100px; height: 40px;" action="#{buyAction.buy}"
									disabled="#{buyAction.walletBTCEmpty}" />
								<p:blockUI block="buyForm" widgetVar="buyBlockUI" />
							</div>
						</p:tab>
						<p:tab>
							<f:facet name="title">
								<i class="fa fa-info"></i>
								<h:outputText
									value=" #{text['website.home.paymentMethods.postepay.howToBuy']}" />
							</f:facet>
							<p:panelGrid
								style="width: 80%; margin: 0 auto; border: hidden !important;">
								<p:row>
									<p:column rowspan="3" style="border: hidden !important;">
										<i class="fa fa-file-text fa-3x"></i>
									</p:column>
								</p:row>
								<p:row>
									<p:column style="border: hidden !important;border-width: 0px;"
										styleClass="text-left">
										<h:outputText
											value=" #{text['website.home.paymentMethods.postepay.howToOrder']}"
											escape="false" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="border: hidden !important;border-width: 0px;">
										<h:outputText
											value=" #{text['website.home.paymentMethods.postepay.howToOrder.message']}"
											escape="false" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="border: hidden !important;border-width: 0px;">
										<p style="text-align: center; font-size: 14px;">
											<i class="fa fa-long-arrow-down fa-2x"></i>
										</p>
									</p:column>
								</p:row>
								<p:row>
									<p:column rowspan="3" style="border: hidden !important;">
										<i class="fa fa-eur fa-3x"></i>
									</p:column>
								</p:row>
								<p:row>
									<p:column style="border: hidden !important;border-width: 0px;"
										styleClass="text-left">
										<h:outputText
											value=" #{text['website.home.paymentMethods.postepay.howToSend']}"
											escape="false" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="border: hidden !important;border-width: 0px;">
										<h:outputText
											value=" #{text['website.home.paymentMethods.postepay.howToSend.message']}"
											escape="false" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="border: hidden !important;border-width: 0px;">
										<p style="text-align: center; font-size: 14px;">
											<i class="fa fa-long-arrow-down fa-2x"></i>
										</p>
									</p:column>
								</p:row>
								<p:row>
									<p:column rowspan="3" style="border: hidden !important;">
										<i class="fa fa-btc fa-3x"></i>
									</p:column>
								</p:row>
								<p:row>
									<p:column style="border: hidden !important;border-width: 0px;"
										styleClass="text-left">
										<h:outputText
											value=" #{text['website.home.paymentMethods.postepay.howToReceive']}"
											escape="false" />
									</p:column>
								</p:row>
								<p:row>
									<p:column style="border: hidden !important;border-width: 0px;">
										<h:outputText
											value=" #{text['website.home.paymentMethods.postepay.howToReceive.message']}"
											escape="false" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:tab>
					</p:tabView>
				</div>
				<div class="col-md-1"></div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<p:spacer width="100%" height="10" />
						<h:outputText value=" #{text['home.alertTopUp']}" escape="false" />
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/56d5e45f3867c06a63e0ba6a/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-74499153-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>