<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultLogin.xhtml">
	<ui:define name="title">#{text['website.contact.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<div class="container">
			<div id="contact" class="col-md-12 about-page-text">
				<span id="contactForm1"></span>
				<div>
					<p:tabView id="contactTab"
						activeIndex="#{contactAction.contactFormActiveIndex}">
						<p:ajax event="tabChange"
							listener="#{contactAction.contactFormOnTabChange}"
							update=":contactTab" />
						<p:tab title="#{text['website.contact.contactUs.title']}">
							<h:form id="contactForm" prependId="false">
								<p:messages id="messagesContact" showSummary="false"
									showDetail="true" closable="true" escape="false"
									style="font-size: 18px;" />
								<p:spacer width="100%" height="2" />
								<h2>#{text['website.contact.contactUs.title']}</h2>
								<div class="row">
									<div class="col-md-6">
										<p>
											<p:inputText id="email"
												title="#{text['website.contact.contactUs.email.tooltip']}"
												value="#{contactAction.contactEmail}"
												placeholder="#{text['website.contact.contactUs.email']}"
												maxlength="40"
												style="text-align: center; width: 420px; border-radius: 0px; border: 1px solid #ddd;"
												required="true" />
											<p:tooltip id="emailTooltip" for="email" showEvent="focus"
												hideEvent="blur" />
										</p>
										<p>
											<p:inputText id="subject"
												title="#{text['website.contact.contactUs.subject.tooltip']}"
												value="#{contactAction.contactSubject}"
												placeholder="#{text['website.contact.contactUs.subject']}"
												maxlength="40"
												style="text-align: center; width: 420px; border-radius: 0px; border: 1px solid #ddd;"
												required="true" />
											<p:tooltip id="subjectTooltip" for="subject"
												showEvent="focus" hideEvent="blur" />
										</p>
										<p>
											<p:inputTextarea id="message" rows="10" cols="56"
												title="#{text['website.contact.contactUs.message.tooltip']}"
												value="#{contactAction.contactText}"
												placeholder="#{text['website.contact.contactUs.message']}" />
											<p:tooltip id="messageTooltip" for="message"
												showEvent="focus" hideEvent="blur" />
										</p>
										<p class="text-right">
											<h:commandButton id="sendEmail"
												value="#{text['button.send']}" styleClass="btn btn-primary"
												style="width: 100px; height: 40px;"
												action="#{contactAction.sendContactEmail}" />
										</p>
									</div>
									<div class="col-md-6">
										<h4>#{text['website.contact.contactUs.contattaci']}</h4>
										<h:outputText
											value="#{text['website.contact.contactUs.contattaci.message']}"
											escape="false" />
										<p:separator />
										<h4>#{text['website.contact.contactUs.time']}</h4>
										<h:outputText
											value="#{text['website.contact.contactUs.time.message']}"
											escape="false" />
									</div>
								</div>
							</h:form>
						</p:tab>
						<p:tab title="#{text['website.contact.orderStatus.title']}">
							<h:form id="orderStatusForm" prependId="false">
								<p:messages id="messagesOrderStatus" showSummary="false"
									showDetail="true" closable="true" escape="false"
									style="font-size: 18px;" />
								<p:spacer width="100%" height="2" />
								<h2>#{text['website.contact.orderStatus.title']}</h2>
								<div class="row">
									<div class="col-md-6">
										<p>
											<p:inputText id="address" value="#{contactAction.address}"
												title="#{text['buyPage.bitcoinAddress.tooltip']}"
												placeholder="#{text['website.contact.orderStatus.address']}"
												maxlength="40"
												style="text-align: center; width: 420px; border-radius: 0px; border: 1px solid #ddd;"
												required="true" />
											<p:tooltip id="addressTooltip" for="address"
												showEvent="focus" hideEvent="blur" />
										</p>
										<p class="text-right">
											<h:commandButton id="searchOrder"
												value="#{text['button.search']}"
												styleClass="btn btn-primary"
												style="width: 100px; height: 40px;"
												action="#{contactAction.searchOrder}" immediate="false"
												ajax="false" />
										</p>
									</div>
									<div class="col-md-6">
										<h4>#{text['website.contact.orderStatus.info']}</h4>
										<h:outputText
											value="#{text['website.contact.orderStatus.info.message']}"
											escape="false" />
									</div>
								</div>
								<div class="row">
									<p:accordionPanel
										activeIndex="#{contactAction.orderStatusFormActiveIndex}">
										<p:tab
											title="#{text['website.contact.orderStatus.orderHistory']}">
											<p:dataTable var="order"
												value="#{contactAction.orderHistory}">
												<p:column styleClass="text-center" style="width:200px"
													sortBy="#{order.code}">
													<f:facet name="header">
														<h:outputText
															value="#{text['home.dashboard.transactions.code']}" />
													</f:facet>
													<h:outputText value="#{order.code}" />
												</p:column>
												<p:column styleClass="text-center" style="width:120px"
													sortBy="#{order.type}">
													<f:facet name="header">
														<h:outputText
															value="#{text['home.dashboard.transactions.type']}" />
													</f:facet>
													<ui:fragment rendered="#{order.type eq 0}">
														<h:outputText style="color: green;"
															value="#{text['home.dashboard.transactions.type.buy']}" />
													</ui:fragment>
													<ui:fragment rendered="#{order.type eq 1}">
														<h:outputText style="color:	red;"
															value="#{text['home.dashboard.transactions.type.sell']}" />
													</ui:fragment>
												</p:column>
												<p:column styleClass="text-center" style="width:200px"
													sortBy="#{order.modified}">
													<f:facet name="header">
														<h:outputText
															value="#{text['home.dashboard.transactions.modified']}" />
													</f:facet>
													<h:outputText value="#{order.modified}">
														<f:convertDateTime dateStyle="default" timeZone="CET"
															type="both" />
													</h:outputText>
												</p:column>
												<p:column styleClass="text-center" style="width:100px"
													sortBy="#{order.btc}">
													<f:facet name="header">
														#{text['home.dashboard.transactions.btc']} (<i
															class="fa fa-btc"></i>)
													</f:facet>
													<h:outputText value="#{order.btc}">
														<f:convertNumber maxFractionDigits="8" />
													</h:outputText>
												</p:column>
												<p:column styleClass="text-center" style="width:300px"
													sortBy="#{order.status}">
													<f:facet name="header">
														<h:outputText
															value="#{text['home.dashboard.transactions.status']}" />
													</f:facet>
													<p class="text-center">
														<ui:fragment rendered="#{order.status eq 0}">
															<h:outputText class="label label-default"
																value="#{text['website.contact.orderStatus.orderHistory.status.unconfirmed']}" />
														</ui:fragment>
														<ui:fragment rendered="#{order.status eq 1}">
															<h:outputText class="label label-warning"
																value="#{text['website.contact.orderStatus.orderHistory.status.waitingPayment']}" />
														</ui:fragment>
														<ui:fragment rendered="#{order.status eq 2}">
															<h:outputText class="label label-primary"
																value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceived']}" />
														</ui:fragment>
														<ui:fragment rendered="#{order.status eq 3}">
															<h:outputText class="label label-info"
																value="#{text['website.contact.orderStatus.orderHistory.status.paymentSent']}" />
														</ui:fragment>
														<ui:fragment rendered="#{order.status eq 4}">
															<h:outputText class="label label-success"
																value="#{text['website.contact.orderStatus.orderHistory.status.processed']}" />
														</ui:fragment>
														<ui:fragment rendered="#{order.status eq 5}">
															<h:outputText class="label label-danger"
																value="#{text['website.contact.orderStatus.orderHistory.status.expired']}" />
															<p:spacer width="10" height="0" />
															<p:commandLink update=":contactTab"
																actionListener="#{contactAction.contactFormDisplay}">
																<h:outputText class="label label-info"
																	value="#{text['website.contact.contactUs.orderNotReceived']}" />
															</p:commandLink>
														</ui:fragment>
														<ui:fragment rendered="#{order.status eq 6}">
															<h:outputText class="label label-primary"
																value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedWaitingConfirmation']}" />
														</ui:fragment>
														<ui:fragment rendered="#{order.status eq 7}">
															<h:outputText class="label label-info"
																value="#{text['website.contact.orderStatus.orderHistory.status.paymentSentEUR']}" />
														</ui:fragment>
														<ui:fragment rendered="#{order.status eq 8}">
															<h:outputText class="label label-primary"
																value="#{text['website.contact.orderStatus.orderHistory.status.paymentReceivedNotConfirmed']}" />
														</ui:fragment>
													</p>
												</p:column>
												<p:column styleClass="text-center" style="width:70px">
													<ui:fragment
														rendered="#{order.transactionHash.length() gt 0}">
														<p:link
															href="#{contactAction.transactionLinkBase}#{order.transactionHash}"
															target="_new">
															<i class="fa fa-external-link"></i>
														</p:link>
													</ui:fragment>
												</p:column>
											</p:dataTable>
										</p:tab>
									</p:accordionPanel>
								</div>
							</h:form>
							<p:spacer width="100%" height="5" />
							<div class="row">
								<h3>#{text['website.contact.orderStatus.orderHistory.info']}</h3>
								<h4>#{text['website.contact.orderStatus.orderHistory.info.notCompleted']}</h4>
								<h:outputText
									value="#{text['website.contact.orderStatus.orderHistory.info.notCompleted.message']}"
									escape="false" />
								<p:separator />
								<h4>#{text['website.contact.orderStatus.orderHistory.info.questions']}</h4>
								<h:outputText
									value="#{text['website.contact.orderStatus.orderHistory.info.questions.message']}"
									escape="false" />
								<p:separator />
								<h4>#{text['website.contact.contactUs.time']}</h4>
								<h:outputText
									value="#{text['website.contact.contactUs.time.message']}"
									escape="false" />
							</div>
							<p:spacer width="100%" height="50" />
							<div class="col-md-12 text-center">
								<a href="#top">top</a>
							</div>
						</p:tab>
					</p:tabView>
				</div>
			</div>
		</div>
		<p:spacer width="100%" height="50" />
	</ui:define>
	<ui:define name="scripts">
		<script>
			var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/56d5e45f3867c06a63e0ba6a/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-74499153-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>