<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">(€/B#{buyAction.priceBuyString}) #{text['home.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="buyForm" prependId="false">
			<div class="row">
				<div class="col-md-12 text-center" style="font-size: 48px;">
					<i>#{text['website.home.tagline']}</i>
				</div>
				<div class="col-md-12 text-center" style="font-size: 18px;">
					<i>#{text['webapp.tagline2']}</i>
				</div>
			</div>
			<p:spacer width="100%" height="10" />
			<div id="payment-methods" class="row">
				<ui:fragment rendered="#{buyAction.walletBTCEmpty}">
					<div class="col-md-12">
						<div class="alert alert-danger" role="alert">
							<h:outputText value="#{text['website.home.noAvailable']}" />
						</div>
					</div>
				</ui:fragment>
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<p:commandLink style="text-decoration: none;" ajax="false"
						action="buy" update="@form" disabled="#{buyAction.walletBTCEmpty}">
						<div class="payment-method text-center">
							<p class="payment-method-title">
								<h:outputText class="label label-success"
									value="#{text['button.buyCapital']}" />
							</p>
							<p class="fees-details-text">
								<h:outputText value="#{text['home.exchangeRate']}:" />
								<i class="fa fa-eur"></i>/<i class="fa fa-btc"></i>
								<h:outputText id="priceBuy" value="#{buyAction.priceBuy}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p>
						</div>
					</p:commandLink>
				</div>
				<div class="col-md-4">
					<p:commandLink style="text-decoration: none;" ajax="false"
						action="sell" update="@form"
						disabled="#{sellAction.walletEUREmpty}">
						<div class="payment-method text-center">
							<p class="payment-method-title">
								<h:outputText class="label label-danger"
									value="#{text['button.sellCapital']}" />
							</p>
							<p class="fees-details-text">
								<h:outputText value="#{text['home.exchangeRate']}:" />
								<i class="fa fa-eur"></i>/<i class="fa fa-btc"></i>
								<h:outputText id="priceSell" value="#{sellAction.priceSell}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p>
						</div>
					</p:commandLink>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row about-details-section">
				<div class="col-md-1">
					<i class="fa fa-thumbs-o-up fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h3 class="about1-details-title">#{text['website.home.smartBox.title']}</h3>
					<p class="about-details-text">
						<h:outputText value="#{text['website.home.smartBox.message']}"
							escape="false" />
					</p>
				</div>
				<div class="col-md-1">
					<i class="fa fa-rocket fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h3 class="about1-details-title">#{text['website.home.realTimeBox.title']}</h3>
					<p class="about-details-text">
						<h:outputText value="#{text['website.home.realTimeBox.message']}"
							escape="false" />
					</p>
				</div>
				<div class="col-md-1">
					<i class="fa fa-lock fa-2x"></i>
				</div>
				<div class="col-md-3">
					<h3 class="about1-details-title">#{text['website.home.aiBox.title']}</h3>
					<p class="about-details-text">
						<h:outputText value="#{text['website.home.aiBox.message']}"
							escape="false" />
					</p>
				</div>
			</div>

			<div class="row about-details-section">
				<div class="col-md-3">
					<div class="about-details1 text-center">
						<i class="fa fa-users fa-5x" style="color: red;"></i>
						<h3 class="about2-details-title">#{text['website.home.main.pro.pro1']}</h3>
						<p class="about-details-text">#{text['website.home.main.pro.pro1.message']}</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="about-details2 text-center">
						<i class="fa fa-check-circle fa-5x" style="color: green;"></i>
						<h3 class="about3-details-title">#{text['website.home.main.pro.pro2']}</h3>
						<p class="about-details-text">#{text['website.home.main.pro.pro2.message']}</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="about-details3 text-center">
						<i class="fa fa-trophy fa-5x" style="color: blue;"></i>
						<h3 class="about4-details-title">#{text['website.home.main.pro.pro3']}</h3>
						<p class="about-details-text">
							<h:outputText
								value="#{text['website.home.main.pro.pro3.message']}"
								escape="false" />
						</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="about-details4 text-center">
						<i class="fa fa-university fa-5x" style="color: silver;"></i>
						<h3 class="about5-details-title">#{text['website.home.main.pro.pro4']}</h3>
						<p class="about-details-text">
							<h:outputText
								value="#{text['website.home.main.pro.pro4.message']}"
								escape="false" />
						</p>
					</div>
				</div>
			</div>
			<p:poll id="uiRefresh" interval="#{buyAction.pollingInterval}"
				listener="#{buyAction.updateForm}" process="@form" update="@form" />
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/56d5e45f3867c06a63e0ba6a/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-74499153-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>