<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultLogin.xhtml">
	<ui:define name="title">#{text['login.title']}</ui:define>
	<ui:param name="bodyId" value="login" />
	<ui:define name="body">
		<p:messages id="messages" showSummary="false" showDetail="true"
			autoUpdate="true" closable="true" />
		<c:if test="${param.error != null}">
			<div class="alert alert-danger alert-dismissable">
				#{text['errors.password.mismatch']}</div>
		</c:if>
		<h:form method="post" id="loginForm" prependId="false"
			onsubmit="saveUsername(this);return validateForm(this)"
			class="form-signin" autocomplete="off">
			<h2 class="form-signin-heading">#{text['login.heading']}</h2>
			<p:inputText type="text" name="j_username" id="j_username"
				class="input-block-level form-control"
				value="#{loginController.username}"
				placeholder="#{text['label.username']}" required="true" tabindex="1" />
			<p:inputText type="password" class="input-block-level form-control"
				name="j_password" id="j_password" tabindex="2"
				value="#{loginController.password}"
				placeholder="#{text['label.password']}" required="true" />
			<p:inputText id="otp" styleClass="input-block-level form-control"
				maxlength="6" 
				value="#{loginController.otp}" placeholder="One-Time Password (optional)" />
			<p:spacer width="0" height="1" />
			<h:commandButton type="submit" id="login" value="#{text['button.login']}"
				styleClass="btn btn-lg btn-primary btn-block"
				action="#{loginController.doLogin}" />
		</h:form>
		<!-- p class="centered">
			<h:outputFormat value="#{text['website.home.newsletterTitle']}" escape="false" />
		</p -->
		<p class="centered">
			<h:outputFormat value="#{text['login.register']}" escape="false">
				<f:param value="#{request.contextPath}/register" />
			</h:outputFormat>
		</p>
		<!-- p class="centered">
			<h:outputText value="#{text['login.passwordHint']}" escape="false" />
		</p -->
	</ui:define>
	<ui:define name="scripts">
		<ui:include src="/scripts/login.js" />
	</ui:define>
</ui:composition>
</html>