<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">#{text['home.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="successForm" prependId="false">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 email-wrapper">
					<div class="col-md-12 alert alert-success">
						<h:outputFormat value="#{text['success.orderMemoSummary']}"
							escape="false">
							<f:param value="#{buyAction.lastEmail}" />
						</h:outputFormat>
						<p:spacer width="100%" height="5" />
						<h:outputText value="#{text['success.orderSubmitted.alertTime']}"
							escape="false" />
						<p:spacer width="100%" height="5" />
						<h:outputText value="#{text['success.orderSubmitted.alertAmount']}"
							escape="false" />
					</div>
					<div class="row">
						<div class="col-md-12">
							<h:outputText value=" #{text['home.alertTopUpSuccess']}" escape="false" />
						</div>
					</div>
					<p:spacer width="100%" height="10" />
					<div class="text-center">
						<h:commandButton id="home" value="#{text['button.done']}"
							styleClass="button btn btn-primary" immediate="true"
							style="width: 100px; height: 40px;" action="home" />
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
			<p:spacer width="100%" height="120" />
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-74499153-1', 'auto');
		ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>