<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">#{text['home.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="successForm" prependId="false">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 email-wrapper">
					<div class="col-md-12 alert alert-success">
						<h:outputText value="#{buyAction.orderSubmittedSummary}"
							escape="false" />
						<p:spacer width="100%" height="10" />
						<p:panelGrid style="width: 80%; margin: 0 auto;">
							<f:facet name="header">
								<p:row>
									<p:column colspan="2">#{text['success.orderSubmitted.orderSummary']}</p:column>
								</p:row>
							</f:facet>
							<p:row>
								<p:column style="font-weight: bold;">#{text['success.orderSubmitted.orderSummary.confirmationCode']}</p:column>
								<p:column>
									<b>#{buyAction.lastCode}</b>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="font-weight: bold;">#{text['success.orderSubmitted.orderSummary.bitcoin']}</p:column>
								<p:column>
									<i class="fa fa-btc"></i>#{buyAction.orderBTCQuantity}</p:column>
							</p:row>
							<p:row>
								<p:column style="font-weight: bold;">#{text['success.orderSubmitted.orderSummary.address']}</p:column>
								<p:column>#{buyAction.lastAddress}</p:column>
							</p:row>
						</p:panelGrid>
						<p:spacer width="100%" height="10" />
						<p:panelGrid style="width: 80%; margin: 0 auto;">
							<f:facet name="header">
								<p:row>
									<p:column colspan="2">#{text['success.orderSubmitted.postePayTopUpDetails']}</p:column>
								</p:row>
							</f:facet>
							<p:row>
								<p:column style="font-weight: bold;">#{text['success.orderSubmitted.postePayTopUpDetails.euro']}</p:column>
								<p:column>
									<i class="fa fa-eur"></i>#{buyAction.orderEURQuantity}</p:column>
							</p:row>
							<p:row>
								<p:column style="font-weight: bold;">#{text['success.orderSubmitted.postePayTopUpDetails.number']}</p:column>
								<p:column>#{buyAction.postePayNumber}</p:column>
							</p:row>
							<p:row>
								<p:column style="font-weight: bold;">#{text['success.orderSubmitted.postePayTopUpDetails.name']}</p:column>
								<p:column>#{buyAction.postePayName}</p:column>
							</p:row>
							<p:row>
								<p:column style="font-weight: bold;">#{text['success.orderSubmitted.postePayTopUpDetails.ssn']}</p:column>
								<p:column>#{buyAction.postePaySSN}</p:column>
							</p:row>
						</p:panelGrid>
						<p:spacer width="100%" height="10" />
					</div>
					<div class="row">
						<div class="col-md-12">
							<h:outputText value=" #{text['home.alertTopUpSuccess']}" escape="false" />
						</div>
					</div>
					<div class="col-md-12 alert alert-danger">
						<p:spacer width="100%" height="5" />
						<h:outputText value="#{text['success.orderSubmitted.alertTime']}"
							escape="false" />
						<p:spacer width="100%" height="5" />
						<h:outputText value="#{text['success.orderSubmitted.alertAmount']}"
							escape="false" />
						<p:spacer width="100%" height="5" />
						<h:outputText value="#{text['success.orderSubmittedMemo']}"
							escape="false" />
						<p:spacer width="100%" height="5" />
						<div class="row">
							<p:inputText id="receiptEmail" value="#{buyAction.email}"
								placeholder="E-Mail" maxlength="40"
								style="text-align: center; width: 450px; border-radius: 0px; border: 1px solid #ddd;"
								required="true" />
							<p:spacer width="10" height="10" />
							<h:commandButton id="addEmail" value="#{text['button.memo']}"
								styleClass="button btn btn-primary"
								style="width: 200px; height: 40px;"
								action="#{buyAction.addEmailBuy}">
							</h:commandButton>
						</div>
					</div>
					<p:spacer width="100%" height="10" />
					<div class="text-center">
						<h:commandButton id="home" value="#{text['button.done']}"
							styleClass="button btn btn-primary" immediate="true"
							style="width: 100px; height: 40px;" action="home" />
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
			<p:spacer width="100%" height="120" />
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-74499153-1', 'auto');
		ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>