<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">#{text['404.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<div class="row">
			<div class="col-md-12 text-center" style="font-size: 48px;">
				#{text['404.heading']}</div>
		</div>
		<p:spacer width="100%" height="70" />
	</ui:define>
</ui:composition>
</html>