<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultAboutFAQ.xhtml">
	<ui:define name="title">#{text['website.about.terms.title']}</ui:define>
	<ui:param name="bodyId" value="terms" />
	<ui:define name="body">
		<div id="terms" class="col-md-12 about-page-text">
			<span id="terms"></span>
			<div>
				<BR /> <BR />
				<h1>#{text['website.about.terms.title']}</h1>
				<h:outputText value="#{text['website.about.terms.message']}"
					escape="false" />
			</div>
			<span id="privacy"></span>
			<div>
				<BR /> <BR />
				<h1>#{text['website.about.privacy.title']}</h1>
				<h:outputText value="#{text['website.about.privacy.message']}"
					escape="false" />
			</div>
		</div>
		<p:spacer width="100%" height="50" />
		<div class="col-md-12 text-center">
			<a href="#top">top</a>
		</div>
		<p:spacer width="100%" height="20" />
	</ui:define>
	<ui:define name="scripts">
		<script>
			var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/56d5e45f3867c06a63e0ba6a/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-74499153-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>