<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="#{request.contextPath}/images/favicon.ico" />
	<title><ui:insert name="title">Home</ui:insert> |
		#{text['webapp.name']}</title>
	<ui:include src="/common/assets.xhtml" />
</h:head>
<f:view>
	<body id="#{bodyId}"
		onload="PrimeFaces.changeTheme('#{menuController.theme}')">
		<div class="navbar-fixed-top">
			<ui:fragment rendered="#{menuController.admin}">
				<ui:include src="/layouts/menu-admin.xhtml" />
			</ui:fragment>
			<ui:fragment rendered="#{!menuController.admin}">
				<ui:include src="/layouts/menu-user.xhtml" />
			</ui:fragment>
		</div>
		<div class="container" id="content">
			<!-- p:growl id="messages" showDetail="true" / -->
			<p:messages id="messages" showSummary="false" showDetail="true"
				autoUpdate="true" closable="true" />
			<div class="row">
				<ui:insert name="body" />
			</div>
		</div>
		<div id="footer" class="container navbar navbar-fixed-bottom collapse navbar-collapse">
			<div class="row">
				<div class="col-md-6 text-left">
					<div class="footer-left">#{text['webapp.version']}</div>
				</div>
				<div class="col-md-6">
					<div class="footer-right text-center">
						<a href="#{request.requestURL}?locale=en"> <i
							class="flag-icon flag-icon-gb"></i>
						</a>
						<p:spacer width="50" height="10" />
						<a href="#{request.requestURL}?locale=it"> <i
							class="flag-icon flag-icon-it"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 text-center copyright-website">
					<a href="#{request.contextPath}/terms#terms">#{text['website.footerMenu.terms']}</a>
					<p:spacer width="10" height="0" />
					<a href="#{request.contextPath}/terms#privacy">#{text['website.footerMenu.privacy']}</a>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row text-center copyright-website">
				<i class="fa fa-copyright"></i> Copyright #{text['website.url']}
				#{text['copyright.year']}. #{text['website.copyright']}
			</div>
		</div>
		<ui:insert name="scripts" />
	</body>
</f:view>
</html>
