<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords"
		content="compra, vendi, bitcoin, contanti, postepay, automatico, valuta virtuale, prezzo basso, economico, buy, sell,
		cash, automatic, digital currency, low price, low commission, economy, exchange, italy," />
	<meta name="description"
		content="Compra bitcoin in contanti, nessuna registrazione, prezzo più basso del mercato" />
	<meta name="robots" content="index,follow" />
	<link rel="icon" href="#{request.contextPath}/images/favicon.ico" />
	<title><ui:insert name="title">Home</ui:insert> |
		#{text['webapp.name']}</title>
	<ui:include src="/common/assetsFAQ.xhtml" />
</h:head>
<f:view>
	<body id="#{bodyId}">
		<div id="header" class="navbar navbar-default navbar-fixed-top"
			role="navigation">
			<div class="navbar-header pull-right">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-header pull-left">
				<a class="navbar-brand" href="#{request.contextPath}/home">
					BitNow</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#{request.contextPath}/about#faq">#{text['website.headerMenu.help']}</a></li>
					<li><a href="#{request.contextPath}/about#fees">#{text['website.headerMenu.liquidity']}</a></li>
					<li><a href="#{request.contextPath}/contact">#{text['website.footerMenu.contact']}</a></li>
					<ui:fragment rendered="#{menuController.userLoggedIn}">
						<li><a href="#{request.contextPath}/app/home">#{text['website.headerMenu.dashboard']}</a></li>
					</ui:fragment>
					<ui:fragment rendered="#{!menuController.userLoggedIn}">
						<li><a href="#{request.contextPath}/login">#{text['website.headerMenu.login']}</a></li>
					</ui:fragment>
				</ul>
			</div>
		</div>
		<div id="content" class="container">
			<div class="row">
				<ui:insert name="body" />
			</div>
		</div>
		<div id="footer" class="container navbar navbar-default">
			<div class="row">
				<div class="col-md-4 text-left">
					<div class="footer-left">
						<p>
							<font size="3"> <a href="#{request.contextPath}/home">
									<span>BitNow</span>
							</a>
							</font>
						</p>
						<p>
							"<i>#{text['website.home.tagline']}</i>"
						</p>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<a href="https://twitter.com/BitNowIT" target="_new"
						title="Twitter"> <i class="social fa fa-twitter fa-2x"></i>
					</a>
					<p:spacer width="10" height="8" />
					<a href="https://www.facebook.com/bitnow" target="_new"
						title="Facebook"> <i class="social fa fa-facebook fa-2x"></i>
					</a>
					<p:spacer width="10" height="8" />
					<a href="https://bitcointalk.org/index.php?topic=1096711"
						target="_new" title="Bitcointalk"> <i
						class="social fa fa-bitcoin fa-2x"></i>
					</a>
				</div>
				<div class="col-md-4 text-left ">
					<div class="row text-center">
						<a href="#{request.requestURL}?locale=it"> <i
							class="flag-icon flag-icon-it"></i>
						</a>
						<p:spacer width="50" height="10" />
						<a href="#{request.requestURL}?locale=en"> <i
							class="flag-icon flag-icon-gb"></i>
						</a>
					</div>
					<!-- div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.nearestOutlet']}"
							escape="false" />
					</div>
					<div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.checkBalance']}"
							escape="false" />
					</div>
					<div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.currencyConverter']}"
							escape="false" />
					</div>
					<div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.terms']}" escape="false" />
					</div>
					<div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.disclaimer']}"
							escape="false" />
					</div-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 text-center copyright-website">
					<a href="#{request.contextPath}/terms#terms">#{text['website.footerMenu.terms']}</a>
					<p:spacer width="10" height="0" />
					<a href="#{request.contextPath}/terms#privacy">#{text['website.footerMenu.privacy']}</a>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row text-center copyright-website">
				<i class="fa fa-copyright"></i> Copyright #{text['website.url']}
				#{text['copyright.year']}. #{text['website.copyright']}
			</div>
		</div>
		<ui:insert name="scripts" />
	</body>
</f:view>
</html>
