<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition>
	<h:form>
		<p:menubar>
			<p:menuitem value="BitNow" url="/app/home">
				<a class="navbar-brand" href="#{request.contextPath}/app/home">
					BitNow </a>
			</p:menuitem>
			<p:menuitem value="#{text['menu.admin.fundingBTC']}" url="/app/fundingBTC"
				icon="ui-icon-home" >
			</p:menuitem>
			<p:menuitem value="#{text['menu.admin.fundingEUR']}" url="/app/fundingEUR"
				icon="ui-icon-home" >
			</p:menuitem>
			<p:submenu style="position: absolute; right: 18px;"
				label="#{text['menu.user.hello']} #{menuController.user.username}">
				<p:menuitem value="#{text['menu.user.myProfile']}"
					url="/app/myProfile/userForm" icon="ui-icon-contact" />
				<p:menuitem value="#{text['menu.user.security']}"
					url="/app/myProfile/security" icon="ui-icon-key" />
				<p:separator />
				<p:menuitem value="#{text['user.logout']}"
					url="/app/myProfile/logout" icon="ui-icon-power" />
			</p:submenu>
			<f:facet name="options">
				<p:spacer width="100%" height="0" />
				<span class="label"> <p:clock
						pattern="HH:mm:ss E dd MMM yyyy" mode="server" autoSync="true"
						syncInterval="60000" />
				</span>
			</f:facet>
		</p:menubar>
	</h:form>
</ui:composition>
</html>